<div class="main-footer">
    <div class="container">
        <div class="footer-wrap">
            <div class="footer-nav">
                <!-- /.footer-nav -->
                <div class="footer-block">
                    © 2017, Ukraine<br>
                    Kyiv School of Economics
                    <a href="#">94—92 Dmytrivska str.</a>
                </div>
                <!-- /.footer-block -->
                <div class="footer-block">
                    <a href="#">+38 044 492 80 12</a>
                    <a href="#">+38 067 434 72 06</a>
                    <a href="#">info@kse.org.ua</a>
                </div>
                <!-- /.footer-block -->
                <div class="footer-block">
                    <a href="#">Facebook</a>
                    <a href="#">Medium</a>
                    <a href="#">YouTube</a>
                </div>
                <!-- /.footer-block -->
                <div class="footer-block">
                    <a href="#">Telegram</a>
                    <a href="#">Instagram</a>
                    <a href="#">Twitter</a>
                </div>
                <!-- /.footer-block -->
            </div>
            <button class="btn lang-btn">
                <img src="img/icon-lang-btn.png" alt="lang-btn"> Читати українською
            </button>
            <!-- /.btn lang-btn -->
        </div>
        <!-- /.footer-wrap -->
    </div>
    <!-- /.container -->
</div>
<!-- /.footer -->