<div class="main-header">
    <div class="container">
        <div class="header-wrap">
            <a href="../index.html" class="header-logo">
                <img src="img/logo-white.svg" alt="image">
            </a>
            <!-- /.header-logo -->
            <div class="header-nav">
                <div class="main-nav">
                    <a href="../index.html" class="header-logo">
                        <img src="img/logo-white.svg" alt="image">
                    </a>
                    <ul>
                        <li><a href="../education.html">Education</a></li>
                        <li><a href="../research.html">Research</a></li>
                        <li><a href="../community.html">Community</a></li>
                        <li><a href="../impact.html">Impact</a></li>
                        <li><a href="../about-the-school.html">About the School</a></li>
                    </ul>
                    <a class="close-btn">
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <!-- /.main-nav -->
                <a class="icon-search"><img src="img/icon-search.svg" alt="image"></a>
                <!-- /.icon-search -->
                <a class="toggle-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <!-- /.toggle menu -->
            </div>
            <!-- /.header-nav -->
        </div>
        <!-- /.header-wrap -->
    </div>
    <!-- /.container -->
    <span></span>
</div>
<!-- /.main-header -->