<div class="main-header-blue">
    <div class="container">
        <div class="header-wrap">
            <a href="../index.html" class="header-logo">
                <img src="img/logo-blue.svg" alt="image">
            </a>
            <!-- /.header-logo -->
            <div class="header-nav-blue">
                <div class="main-nav">
                    <a href="../index.html" class="header-logo">
                        <img src="img/logo-white.svg" alt="image">
                    </a>
                    <ul>
                        <li><a href="../education.html">Education</a></li>
                        <li><a href="../research.html">Research</a></li>
                        <li><a href="../community.html">Community</a></li>
                        <li><a href="../impact.html">Impact</a></li>
                        <li><a href="../about-the-school.html">About the School</a></li>
                    </ul>
                    <a class="close-btn">
                        <span></span>
                        <span></span>
                    </a>
                    <!-- /.close-btn -->
                </div>
                <!-- /.main-nav -->
                <button class="icon-search"><img src="img/icon-search-blue.svg" alt="image"></button>
                <!-- /.icon-search -->
                <a class="toggle-menu toggle-menu-color-blue">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <!-- /.header-nav -->
        </div>
        <!-- /.header-wrap -->
    </div>
    <!-- /.container -->
    <span></span>
</div>
<!-- /.main-header -->