@font-face {
  font-family: 'Graphik Medium';
  src: url('../../fonts/Graphik-Medium-Web.woff2') format('woff2'),
  url('../../fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
