@media screen and (max-width: 1199px) {
  .container {
    max-width: 990px;
  }
  .block-cards {
    .block-info {
      max-width:100%;
    }
  }
}

@media screen and (max-width: 992px){
  .container{
    max-width: 750px;
  }
  .toggle-menu {
    display: block;
    margin-left: 20px;
  }

  .block-title, .content-wrap {
    max-width: 100%;
    flex-grow: 1;
  }

  .block-links {
     max-width: 100%!important;
    flex-grow:1;
    margin-left: 0!important;
    margin-right: 0!important;
    margin-bottom: 24px;
   }
  .block-info {
    max-width: 100%;
    margin:0;
    margin-right: 0!important;
    margin-bottom: 24px;
  }
  .news-block {
    max-width: 100%;
    margin-bottom: 24px;
    margin-right: 0;
    margin-left: 0;
    span {
      margin:0 auto;
    }
    h4 {
      display: block;
      margin:auto;
    }
  }
  .extr-right {
    flex-grow: 1;
  }
  .department-state,  .program-profile-state1 {
    flex-wrap: wrap;
  }
  .block-personal, .extreme-block {
    max-width: 100%;
    margin-left: 0;
    flex-grow: 1;
  }

  .faculty-block, .content-block, .double-block {
    max-width: 100%;
  }

  .block-right {
    margin-left: 0!important;
  }

  .partner-items {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px){
  .container{
    max-width: 100%;
    padding: 0 15px;
  }
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 13px;
  }

  .footer-wrap {
  justify-content: center;
    .footer-nav {
      justify-content: center;
      align-items: center;
      .faculty-block {
        min-width: 154px;
       margin-right: 10px;
      }
    }
    .lang-btn {
      order:-1;

    }
  }
}

@media screen and (max-width: 500px){
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 10px;
  }
  .header-section {
    .header-caption {
      h1 {
        font-size: 48px;
      }
    }
  }

  .container{
    max-width: 100%;
    padding: 0 15px;
  }

  .footer-wrap{
    max-width: 320px;
    margin:0 auto;
    padding-bottom: 50px;
    .footer-nav {
      justify-content: space-between;
    }

    .footer-block {
      min-width: 154px;
      margin-bottom: 10px;
      margin-right: 0;
    }
    .lang-btn {
      order:-1;
      flex-grow: 1;
      margin-bottom: 25px;
    }
  }

}