.main-footer {
  background: #003963;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 27px 0 102px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
}

.footer-block {
  color: #fff;
  font-size: 12px;
  margin-right: 52px;
  a {
    display: block;
    color: #fff;
  }
}

.lang-btn {
  width: 169px;
  height: 28px;
  border-radius: 14px;
  border:1px solid #fff!important;
  color: #fff;
}
