.main-header {
  position: relative;
  z-index: 999;
  span {
    display: block;
    max-width: 1175px;
    height: 2px;
    background: #fff;
    margin:0 auto;
  }
}

.header-section {
  .main-header {
    span {
      height:0;
    }
  }
}
.main-header-blue {
  position: relative;
  z-index: 999;
  span {
    display: block;
    max-width: 1175px;
    height: 2px;
    background: $main-text-color;
    margin:0 auto;
  }
}

.header-logo {
  position: relative;
  outline: none;
  img {
    width: 100%;
    max-width: 220px;
  }
}

.header-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
}

.header-nav{
  display: flex;
}

@media screen and (max-width: 992px){
  .header-nav, .header-nav-blue {
    ul {
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
    .main-nav {
      transform:translateY(-100%);
      position: fixed;
      top: 0;
      left:0;
      width:100%;
      height:100%;
      background: $main-text-color;
      z-index: 100;
      padding-top: 100px;
      transition-property:transform;
      transition: .5s ease;
      .header-logo {
        position: absolute;
        display: none;
        top: 30px;
        left:30px;
      }
    }
    &.open{
      .main-nav{
        transform:translateY(0);
      }
      .close-btn {
        display: block;
      }
      .header-logo {
        display: block;
      }
    }
    li{
      display: block;
      padding:30px 0;
      text-align: center;
      border-top: 1px solid #fff;
      margin-right:0;
      font-size: 18px;
      a {
        color: #fff;
      }
      &:last-child{
        margin-right:0;
      }
    }
  }
}

li {
  display: inline-block;
  margin-right: 30px;
  &:last-child {
    margin-right: 85px;
  }
  a {
    font-size: 14px;
    color: #fff;
  }
}

.header-nav-blue{
  display: flex;

}

.header-nav-blue {
  a {
    font-size: 14px;
    color: $main-text-color;
  }
}

.icon-search {
  border:0;
  background: transparent;
  cursor: pointer;
  outline:none;
  img {
    width: 18px;
  }
}
