@import "../../node_modules/reset-css/reset.css";
@import "../../node_modules/swiper/dist/css/swiper.css";
@import "../../node_modules/nouislider/distribute/nouislider.css";
@import "../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "../../node_modules/simplebar/dist/simplebar.css";
@import "_partials/fonts";
@import "_partials/vars";
@import "layout/header";
@import "layout/footer";


*{
  box-sizing: border-box;
}
button, input, select{
  outline: none;
}
html{
  height:100%;
}
a{
  text-decoration: none;
}

//Specification

body{
  font-family: 'Graphik Medium', sans-serif;
  line-height: 1.25;
  font-size: 16px;
  background: #eceef3;
  color: $main-text-color;
  &.mobile-menu-open{
    overflow: hidden;
    padding-right:17px;
  }
}

.container {
  max-width: 1101px;
  margin:0 auto;
}

.btn {
  cursor: pointer;
  border:0;
  background: transparent;
  transition: .3s ease;
  &:hover {
    opacity: .8;
  }
}

.main-btn {
  background: #f1e935;
  color: $main-text-color;
  width: 286px;
  height: 40px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  transition: .3s ease;
  &:hover {
    opacity: .8;
  }
}

.alternate-btn {
  width: 208px;
  border:1px solid $main-text-color;
  transition: .3s ease;
  &:hover {
    opacity: .8;
  }
}

h1{
  position: relative;
  font-size: 64px;
  font-weight: 700;
  letter-spacing:-1.5px;
  z-index: 10;
}

h2{
  position: relative;
  font-size: 48px;
  z-index:10;

}
h3 {
  font-size: 36px;
  position: relative;
  z-index: 10;
}

h4 {
  position: relative;
  z-index: 10;
  font-size: 24px;
  color: $main-text-color;
}

.toggle-menu {
  position: relative;
  display: none;
  width: 25px;
  height: 22px;
  background: transparent;
  border:0;
  cursor:pointer;
  outline: none;
  span {
    position: absolute;
    display: block;
    top:0;
    left:0;
    width: 25px;
    height: 2px!important;
    background: #fff;
    &:nth-child(2){
      top:50%;
      transform: translateY(-50%);
      height: 2px;
    }
    &:nth-child(3) {
      top:100%;
      left:0;
      transform: translateY(-50%);
      height: 2px;
    }
  }
}

.close-btn {
  display: none;
  position: absolute;
  top:55px;
  right:55px;
  cursor:pointer;
  span {
    position: absolute;
    width: 25px;
    height: 2px!important;
    top:50%;
    background: #fff;
    transform: rotate(45deg);
    &:last-child {
      background: #fff;
      top:50%;
      transform: rotate(-45deg);
    }
  }
}

.indent-right {
  margin-right: 24px;
}

.indent-left {
  margin-left: 24px;
}

.indent-bottom {
  margin-bottom:24px;
}

.indent-left {
  margin-left: 24px;
}


.toggle-menu-color-blue {
  &:before {
    background: $main-text-color;
  }
  &:after {
    background: $main-text-color;
  }
  span {
    background: $main-text-color;
  }
}

.block-title{
  max-width: 820px;
  width:100%;
  margin-bottom: 24px;
  padding: 35px 24px;
  background: #fff;
}

.block-links {
  max-width: 257px;
  width: 100%;
  padding: 21px 25px 29px;
  background: #fff;
  margin-bottom: 24px;
}

.block-photo-caption {
  max-width: 257px;
  background: #fff;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 75px;
}

.link-btn {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #f1e935;
  &:after {
    content:'';
    position: absolute;
    width:7px;
    height: 7px;
    top:25%;
    left:18%;
    border-top:1px solid #003963;
    border-right:1px solid #003963;
    transform:rotate(45deg);
  }
}

.header-page {
  background-repeat:no-repeat;
  background-position: center center;
  background-size:cover;
  &:not(.header-section){
    padding-bottom: 90px;
  }
}

.page-content {
  padding-top:65px;
  padding-bottom: 75px;

}

.block-eclipse {
  position: relative;
  &:after {
    content:'';
    position: absolute;
    background: rgba(0,0,0,.36);
    top:0;
    right:0;
    bottom:0;
    left:0;
  }
}

.color-white {
  h4{
    color: #fff;
  }
}

.grid-item {
  max-width: 257px;
  width: 100%;
  height: 300px;
}

.grid-item--width2 {  max-width: 538.5px;  width: 100%;  }
.grid-item--width3 {  max-width: 820px;  width:100%; }
.grid-item--height2 { height: 624px; }
.grid-item--width4 {  max-width: 1101px; width: 100%;}
//Main

.header-section {
  position: relative;
  padding-top: 186px;
  .header-caption {
    margin-bottom:120px;
    h1 {
      font-size: 72px;
    }
  }
}

.header-caption {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 72px;
  color: #fff;
  button {
    width: 200px;
    height: 50px;
    padding: 13px 17px;
    color: $main-text-color;
    border:1px solid $main-text-color;
    border-radius: 25px;
    font-size: 14px;
    img {
      width: 20px;
      height: 20px;
      margin-right: 18px;
      vertical-align: middle;
    }
  }
}

.header-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
}


.economics-wrap, .impact-wrap {
  display: flex;
  flex-wrap: wrap;
}

.economics-wrap, .impact-wrap {
  .block-links {
    margin-left: 24px;
    align-self: flex-start;
    span {
      font-size: 12px;
    }
  }
  .block-title {
    p {
      color: #000;
      margin:28px 0;
    }
  }
}

.links-item {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  &:last-child {
    margin-bottom:0;
  }
  strong {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
  }
  p {
    font-size: 12px;
    color: $light-text-color;
  }
  .personal-item {
    width: 170px;
    margin-bottom: 0;
  }
}

.education-wrap {
  .links-item {
    .link-title {
      strong {
        font-size: 16px;
        color: #000;
        font-weight:normal;
      }
    }
  }
}

.initiative-wrap, .program-profile-wrap {
  .links-item {
    margin-top: 20px;
  }
  .block-caption {
    .links-item {
      p {
        color: $light-text-color!important;
      }
    }
  }
}

.first-state {
  display: flex;
  flex-wrap: wrap;
}

.photo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    font-weight: 700;
  }
}

.text-center {
  align-self: center;
}

.calendar-block {
  margin-bottom: 26px;
}

.calendar-button {
  text-align: center;
  margin-bottom:8px;
}

.calendar-item {
  display: flex;
  border-bottom:1px solid #dfdfdf;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.calendar-caption {
  width: 180px;
  p {
    font-size: 14px;
    color: $light-text-color;
    display: inline-block;
  }
  strong {
    font-weight: 600;
  }
}

.two-state {
  display: flex;
  flex-wrap: wrap;
}

.slider-caption {
  width: 488px;
  text-align: center;
}

.block-swiper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:after{
    content:'';
    position: absolute;
    width:1px;
    height: 249px;
    left:64%;
    top:7%;
    background: $main-text-color;
  }
}

.profesor-info {
  position: relative;
  width: 266px;
  text-align: center;

  .swiper-pagination-bullet-active {
    border-radius: 50%;
    background: #003963 !important;
  }
  .swiper-pagination-bullet {
    border:1px solid #003963;
    width:7px;
    height:7px;
    border-radius:100%;
    background: transparent;
  }
}

.profesor-item {
  font-size: 14px;
  margin-bottom: 44px;
  padding-left: 24px;
  strong {
    font-weight: 700;
  }
}

.photo-slider {
  img  {
  background:#d8d8d8;
  width:61px;
  height:61px;
  border-radius:100%;
  }
}

.news-block {
  position: relative;
  background: #fff;
  padding: 14px 28px;
  text-align: center;
  margin-right: 24px;
  span {
    display: block;
    text-align: center;
    width: 201px;
    border-bottom:1px solid #dbdbdb;
    margin-bottom: 33px;
    padding-bottom: 15px;
    font-size: 14px;
    color: $light-text-color;
  }
  h4 {
    margin-bottom: 29px;
  }

}

.btn-read-more {
 position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}

.block-info  {
  background: #fff;
  position: relative;
  text-align: center;
  display: flex;
  padding: 25px;//подумать какой падинг зделать
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .link-btn {
    border:1px solid $main-text-color !important;
  }
  .wrapper-photo {
    margin-left: -25px;
  }
  .info {
    margin-right: -25px;
  }
  h4 {
    margin-bottom: 24px;
  }
  p {
    color:$light-text-color;
    font-size: 14px;
  }
}



.two-block {
  display: flex;
  flex-wrap: wrap;
}

.three-state {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  .block-info {
    &:first-child {
      margin-right: 24px;
      padding: 93px 45px;
      .link-btn {
        border-color: #fff!important;
        &:after {
         border-color: #fff;
        }
      }
    }
    .link-btn {
      background: transparent;
    }
  }
}

.partners-block {
  text-align: center;
  strong {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}

.partner-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    display: inline-block;

  }
}

.research-section, .education-section, .impact-section, .faculty-section, .initiative-section, .community-section, .about-school-section, .story-page-section, .program-profile-section, .study-kse-section, .department-profile-section {
  .header-caption {
    color: $main-text-color;
    h1 {
      margin-bottom: 38px;
    }
    p {
      font-size: 18px;
      display: block;
      max-width: 646px;
      margin:0 auto;
    }
  }
}

.page-content {
 h3 {
   text-align: center;
 }
  .block-links {
    align-self: flex-start;
    padding-bottom: 98px;
  }
  .research-wrap, .education-wrap, .course-profile-wrap, .event-page-wrap, .story-page-wrap, .program-profile-wrap {
    display: flex;
    flex-wrap: wrap;
  }
}

.research-wrap {
  .link-title {
    strong  {
      font-size: 14px;
      color: #000000;
      font-weight:normal;
    }
  }
}

ul.tabs1 li, ul.tabs2 li, ul.tabs3 li{
  font-size: 13px;
  background: none;
  color: #000;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs1 li.current, ul.tabs2 li.current, ul.tabs3 li.current{
  color: $main-text-color;
  border-bottom: 2px solid $main-text-color;
}

.tabs1, .tabs2, .tabs3 {
  border-bottom:1px solid #dbdbdb;
  text-align: left;
}

.tab-content1.current, .tab-content2.current, .tab-content3.current{
  display: inherit;
}

.newspage-caption {
  width: 515px;
  margin:0 auto;
  text-align: center;
  margin-bottom: 44px;
  p {
    color: $light-text-color;
    font-size: 14px;
  }
  img {
    margin-right: 10px;
    vertical-align: top;
  }
  h3 {
    margin-bottom:42px;
  }
}

.newspage-wrap, .faculty-wrap, .initiative-wrap {
  display: flex;
  flex-wrap: wrap;
  p  {
    display: block;
    margin-bottom: 20px;
  }

}

.newspage-wrap {
  .block-title{
    p {
      color: #000000;
    };
  }
}

.education-wrap{
  .content-wrap {
    display: flex;
    .block-info {
      h3, h4{
        font-weight: 700;
      }
    }
    .news-block {
      margin-bottom: 24px;
    }
  }
}

.course-profile-wrap, .event-page-wrap {
  .content-wrap {
    max-width:820px;
    display: flex;
    flex-wrap: wrap;
    h3,h4 {
      font-weight: 700;
    }
    .block-links {
      width: 256px;
      margin-right: 24px;
      strong {
        font-size: 12px;
      }
    }
  }
}

.block-caption {
  padding-bottom: 60px;
  margin-bottom: 17px;
  border-bottom:1px solid $main-text-color;
    strong {
      display: block;
      font-size: 12px;
      margin-bottom: 17px;
    }
    p {
      color: #000;
    }
}

.description-price {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom:13px;
  .description-item {
    display: inline-block;
    width: 190px;
    margin-bottom: 26px;
    font-size: 14px;
    p {
      color: #000000;
      margin-bottom: 4px;
      strong {
        font-size: 14px;
        color: $main-text-color;
        font-weight: 700;
        margin-bottom: 3px;
      }
    }
    span {
      display: block;
    }
    strong  {
      font-size: 12px;
    }
  }
}

.event-page-wrap {
  .block-caption {
    border:0;
    padding-bottom: 6px;
  }
}

.block-personal {
  max-width: 257px;
  width: 100%;
  padding: 25px;
  margin-left: 24px;
  background: #fff;
  align-self: flex-start;
  margin-bottom: 24px;
  strong   {
    display: block;
    font-size: 12px;
    margin-bottom: 23px;
  }
  p {
    display: block;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 12px;
  }
}

.initiative-wrap, .department-profile-wrap {
  .block-personal {
      .border {
        padding-bottom: 24px;
        border-bottom: 1px solid #dbdbdb;
      }
  }
}

.personal-item {
  display: flex;
  margin-bottom: 24px;
}

.personal-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 11px;
}

.personal-caption {
  span {
    font-size: 14px;
    color: #000000;
  }
  p {
    color: $light-text-color;
    font-size: 12px;
  }
}

.file-load {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  p {
    font-size: 14px;
    span {
      display: inline-block;
      margin-right: 25px;
      font-size: 14px;
      color: $light-text-color;
    }
  }
}

.btn-download {
  a {
    font-size: 12px;
    margin-right: 25px;
  }
}

.double-block {
  flex-grow: 1;
  .block-info {
    margin-bottom: 24px;
  }
}

.btn-load {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #f1e935;
  img {
    transform:translateX(-10%);
  }
}

.impact-title {
  h4 {
    font-size: 30px;
  }
}

.impact-title {
  position: relative;
  display: flex;
  &:after {
    content:'';
    position: absolute;
    width: 1px;
    height: 80%;
    background:#dbdbdb;
    left:50%;
    top:20px;
  }
}

.impact-item  {
  width: 50%;
  text-align: center;
  padding: 25px 35px;
  margin:auto 0;

}

.impact-wrap {
  .calendar-caption {
    p {
      font-size: 12px;
      vertical-align: middle;
    }
  }
}

.slides-block {
  position: relative;
}

.faculty-wrap, .initiative-wrap {
  .block-caption {
    padding-bottom: 0;
    border:0;
    a {
      color: $main-text-color;
    }
  }
  .swiper-button-prev {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $main-text-color;
    top: 57px;
    left: 760px;
    outline:none;
      &:after {
        content:'';
        position: absolute;
        width: 6px;
        height: 6px;
        top: 25%;
        left: 33%;
        border-bottom:1px solid #003963;
        border-left:1px solid #003963;
        transform:rotate(45deg);

      }
    }
  .swiper-button-next {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $main-text-color;
    top: 57px;
    right: 24px;
    outline:none;
    &:after {
      content:'';
      position: absolute;
      width: 6px;
      height: 6px;
      top: 25%;
      left: 19%;
      border-top:1px solid #003963;
      border-right:1px solid #003963;
      transform:rotate(45deg);

    }
  }
}

.underline {
  span {
    display: block;
    padding: 15px 0;
    border-top: 1px solid #dbdbdb;
    font-weight: 700;
    &:last-child {
      border-bottom:1px solid #dbdbdb;
    }
  }
}

.project-item {
  width: 380px!important;
  border-right:1px solid #dbdbdb;
  margin-right: 24px;
  margin-left: -11px;
  span {
    color: $light-text-color;
    font-size: 13px;
    border-top: 0!important;
  }
  strong {
    font-size: 24px;
    font-weight: 700;
    display: block;
    width: 300px;
  }
}


.social-link {
  .block-social {
    display: flex;
    img {
      width: 20px;
      height: 15px;
      margin-right: 18px;
      margin-bottom: 12px;
    }
  }
  p {
    color: $light-text-color;
    font-size: 12px;
  }
}

.community-state1, .community-state2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  .block-info {
    &:first-child {
      margin-right: 24px;
    }
  }
}

.community-state1 {
  .block-info {
    &:last-child {
      h4 {
        color: #fff!important;
      }
    }
  }
  .news-block {
    margin-right: 0;
  }
}

.community-wrap {
  .block-swiper {
    &:after {
      left:73.5%;
    }
  }
}

.scroll-link {
  height: 348px;
}

.force-overflow {
  min-height: 450px;
}

.items-link {
  height:380px;
}

.community-wrap {
  .block-title {
    text-align: center;
    h2 {
      margin-bottom: 33px;
    }
  }
  .block-swiper {
    .slider-caption {
      width: 640px;
      h2 {
        margin-bottom: 0;
      }
    }
  }
}

.form-search, .form-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  border-bottom: 1px solid #dbdbdb;
  input[type=text] {
    background: url(../img/icon-search-black.svg) no-repeat;
    background-position: -40% 50%;
    background-size: 50% 50%;
    padding-left: 47px;
    width: 483px;
    height: 47px;
    border-radius: 23.5px;
    border: 1px solid #dbdbdb;
  }
  a {
    img {
      width: 25px;
      height: 50px;
      vertical-align: middle;
    }

  }
  span {
    margin-right: 15px;
    font-size: 13px;
    color: #000000;
  }
}

.sorting {
  select {
    width: 128px;
  }
  span {
    color: #000000;
  }
}

select {
  height: 47px;
  border-radius: 100px;
  padding: 0 20px;
  margin-right: 20px;
}

.community-wrap {
  .links-item {
   p  {
     font-size: 14px;
    }
  }
  .cafedra{
    width: 260px;
    text-align: left;
  }
  .person-location {
    width: 400px;
    text-align: left;
  }
}

.about-school-section {
  .header-caption {
    color: #fff;
  }
}

.about-school-state1, .about-school-state2, .about-school-state3 {
  display: flex;
  flex-wrap: wrap;
}

.about-school-state1 {
  .block-title {
    h3 {
      text-align: center;
      padding-bottom: 36px;
      border-bottom: 1px solid #dbdbdb;
    }
    .links-item {
      p {
        color: #000000;
        font-size: 16px;
      }
    }
  }
  .block-info {
    margin-bottom: 24px;
  }
}

.about-school-wrap {
  .block-info {

    h2 {
      color: #fff;
      span {
        display: block;
      }
    }
    
  }
}

.about-school-state2, .about-school-state3 {
  .block-links {
    padding-top: 100px;
    h4 {
      font-weight: 700;
      span {
        display: block;
      }
    }
    text-align: center;
  }
}

.about-school-state3 {
  .links-item {
    border-bottom: 1px solid $main-text-color;
    margin-top: 18px;
    padding-bottom: 18px;
    &:first-child{
      margin-top:0;
    }
    &:last-child{
      border:0;
    }
    .link-btn {
      background: transparent;
      border: 1px solid $main-text-color;
      &:after {
        border-color: $main-text-color;
        top:23.5%;
      }
    }
  }
}

.footer-add {
  margin-top: 90px;
  margin-bottom: -75px;
  padding-top: 57px;
  .partners-block {
    padding: 0 80px;
    color: #fff;
    margin-bottom:90px;
  }
}

.creator-title {
  color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 80px;
  padding-bottom: 12px;
  margin-bottom: 18px;
}

.creator-items  {
  display: flex;
  justify-content: space-between;
  padding: 1px 40px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 64px;
}

.creator-item {
  width: 153px;
  text-align: center;
  color: #ffffff;

  &:nth-child(2) {
    width: 540px;
    display: flex;
    justify-content: flex-start;
    p {
      display: inline-block;
      width: 153px;
      margin-right: 35px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.story-page-section {
  .header-caption {
    p {
      margin-bottom: 44px;
    }
    button {
      img {
        width: 20px;
        height: 20px;
        margin-right: 18px;
        vertical-align: middle;
      }
    }
  }
}

.story-page-wrap {
  .block-title {
    color: #000000;
    overflow: hidden;
    p {
      margin-bottom: 15px;
    }
    img {
      margin: 15px 0;
      margin-left: -24px;

    }
  }
}

.program-profile-wrap {
  .block-caption {
    border:0;
    .links-item {
      margin-top: 18px!important;
      .link-title {
        strong{
        font-size: 18px;
          margin-bottom: 0;
          font-weight:600;
        }
      }
    }
  }
  .block-personal  {
    padding-bottom: 50px;
    strong {
      font-size: 12px;
    }
    .main-btn {
      font-size: 14px;
      width: 208px;
      margin-bottom: 10px;
    }
    .block-caption {
      padding: 0;
      margin-bottom: 41px;
    }
  }
}

.program-links {
  border-bottom:1px solid #dbdbdb;
  padding-bottom: 58px;
  margin-bottom: 19px;
}
.courses-links {
  display: flex;

}

.courses-item {
  margin-right: 141px;
  width: 256px;
 span {
   display: block;
   margin-bottom: 7px;
   &:last-child {
     margin-bottom:0;
   }
 }
}

.dot-border{
  color: $main-text-color;
  font-size: 14px;
  border-bottom: 2px dotted $main-text-color;
}

.tuition-block {
  p {
    color: #000000;

    .dot-border {
      font-size: 16px;
    }
    span {
      margin-top: 20px;
      display: block;
      color: $light-text-color;
      font-size: 14px;
    }
  }
}

.program-profile-state1 {
  display: flex;

}

.date-slider, .noUi-target, .noUi-lt, .noUi-horizontal {
  width: 300px;
  .noUi-connect {
    background: #f1e935;
  }
  .noUi-handle {
    background:#003963;
    width:12px;
    height:12px;
    border-radius:100%;
    box-shadow: 0 0 0;
    border:0;
    top:-4px;
    left: 300px !important;
    outline: none;
    &:after, &:before{
      width: 0;
      height: 0;
    }
  }
  .noUi-base {
    height: 5px;
  }

}
.noUi-horizontal {
  height: 5px;
}

.noUi-target {
  border:0;
}

.noUi-marker-horizontal, .noUi-marker {
  height: 0!important;
}

.noUi-pips, .noUi-pips-horizontal {
  position: relative;
  .noUi-value, .noUi-value-horizontal, .noUi-value-large {
    font-size: 10px;
    margin-left: 5px;
    position: absolute;
    top: -34px;
  }
}

.study-kse-wrap {
  .block-title {
    padding-bottom: 0;
  }
  .form-search {
    padding: 20px 0;
    font-size: 13px;
    color: #000000;
  }
}

.check {
  display: inline-block;
}


.form-sort {
  display: flex;
  padding: 20px 0;
  border:0;
  .duration {
    display: flex;
    align-items: center;
  }
}

.calendar {
  height: 100%;
  width: 100%;
}
.table-condensed {
  width: 100%;
  height: 100%;
}

.datepicker-inline {
  width: 100%;
  height: 100%;
}

.time-line {
  display: flex;
  .time-line-item {
    width: 33%;
 vertical-align: top;
    span {
      font-size: 12px;
      color: $light-text-color;
    }
    strong {
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 700;
    }
    .line {
      border-bottom: 1px solid $main-text-color;
      position: relative;
      margin-top: 8px;
      margin-bottom: 26px;
      &:after {
        content: '';
        position: absolute;
        background:#00bacd;
        width:9px;
        height:9px;
        border-radius:100%;
        top:-4px;
        left: -4.5px;
      }
    }
    .dotted {
      border-bottom: 1px dotted $main-text-color;
    }
  }
}

.study-kse-wrap, .department-profile-wrap {
  .block-info {
    background: #fff;
    position: relative;
    margin-bottom: 24px;
    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 249px;
      background: #dbdbdb;
      left:50%;
      top:25px;
      transfrom:translateX(-50%);
    }
  }
}

.card-title {
  display: flex;
  justify-content: space-between;
  text-align: center;
  .info-card {
    width: 50%;
    flex-shrink: 0;
    padding: 0 25px;
    .descriptions-items {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .description-item {
        width:auto;
        margin-bottom: 0;
      }
    }
  }
  .card-caption {
    width: 50%;
    padding: 0 25px;
    margin:auto 0;
    p {
      color: #000000;
    }
  }
}

.block-cards {
  display: flex;
  flex-wrap: wrap;
  .block-right {
    margin-left: 24px;
  }
}

.info {

  text-align: center;
  padding: 0 25px ;
  h4 {
    margin-bottom: 24px;
  }
  p {
    color:$light-text-color;
    font-size: 14px;
  }
}

.wrapper-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-vertical {
margin: auto 0;
}

.info-horizontal {

}

.info-card {

  h4 {
    margin-bottom: 24px;

  }
  .description-item {
    strong {
      font-size: 12px;
      color: $light-text-color!important;
      margin-bottom: 3px;
    }
    p {
      color: #000000;
      font-size: 14px;
      strong {
        color: $main-text-color!important;
      }
    }
  }
}

.study-kse-wrap {
  .form-search {
    .sorting {
      select {
        width: 310px;
      }
    }
  }
}

.department-profile-section {
  background-repeat:no-repeat;
  background-size:cover;
  .header-caption {
    color: #fff;
    h1 {
      font-size: 54px;

    }
  }
}

.department-profile-wrap {
  .block-caption {
    padding-bottom: 0;
    border:0;
  }
  .left-block {
    .block-info {
      background: #f1e935;
      &:after {
        background: $main-text-color;
        width: 1px;
      }
    }
  }
  .card-caption {
    strong {
      display: block;
      font-size: 12px;
      color: $light-text-color;
      margin-bottom: 11px;
    }
  }
}

.faculty-members {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  strong {
    font-size: 12px;
    color: $light-text-color;
  }
  a {
    display: block;
    margin-right: 10px;
  }
}


.faculty-item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow:hidden;

  &:last-child{
    background: rgba(0,0,0,.3);
    margin-right: 0;
    span {
      display: block;
margin-top: 9px;
      font-size: 13px;
      color: #575757;
    }
  }
}

.department-state {
  display: flex;

  .block-info {
    &:after{
      width: 0;
      height: 0;
    }
  }
}

.wrapper {
  .block-info {
    &:after {
      width: 0;
      height: 0;
    }
  }
}

.block-cards {
  .block-personal{
    margin-left: 0;
  }
}

.simplebar-scroll-content {
  .simplebar-content {
    padding-right: 15px;
    overflow-x: auto;
  }
}

.simplebar-scrollbar {
  &:before {
    background: rgba(0,0,0,.14);
  }
}

input[type=checkbox] {
  vertical-align: middle;
}

.checking {
  .check {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
}

tbody {
  tr {
    padding: 10px 0!important;
  }
}

.main-nav {
  .header-logo {
    display: none;
  }
}


@import "_partials/media";
