//= _partial/_head.html
<div class="about-school-section header-page block-eclipse" style="background: url(img/bg-about.png) no-repeat center top / cover">
    //= _partial/_header.html
    <div class="container">
        <div class="header-caption">
            <h1>
                About the School
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum.
                Donec sit amet elit vitae dui mattis tincidunt id eu ante. Suspendisse rutrum arcu vel gravida
                hendrerit. Nulla a diam tristique, tincidunt nulla quis, eleifend metus. Nam mattis dignissim tortor, a
                auctor tortor accumsan ac. Nulla a diam tristique, tincidunt nulla quis, eleifend metus. Nam mattis
                dignissim tortor, a auctor tortor accumsan ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet elit vitae dui mattis tincidunt
                id eu ante. Suspendisse rutrum arcu vel gravida hendrerit. Nam mattis dignissim tortor, a auctor tortor
                accumsan ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <!-- /.main-header -->

    </div>
    <!-- /.container -->
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="about-school-wrap">
            <div class="about-school-state1">
                <div class="block-title grid-item--width3">
                    <h3>Our Leadership Team</h3>
                    <div class="links-item">
                        <div class="link-title">
                            <p>Honorary President</p>
                        </div>
                        <!-- /.link-title -->
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <!-- /.links-item -->
                    <div class="links-item">
                        <div class="link-title">
                            <p>Board Of Directors</p>
                        </div>
                        <!-- /.link-title -->
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <!-- /.links-item -->
                    <div class="links-item">
                        <div class="link-title">
                            <p>International Academic Board</p>
                        </div>
                        <!-- /.link-title -->
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <!-- /.links-item -->
                </div>
                <!-- /.block-title -->
                <div class="block-info indent-left grid-item block-eclipse" style="background:url(img/about-photo1.png) no-repeat center top / cover;">
                    <h4 style="color:#ffffff;">Become a Part
                        of KSE Team</h4>
                </div>
                <!-- /.block-links -->
            </div>
            <!-- /.about-school-state1 -->
            <div class="about-school-state2">
                <div class="block-links grid-item indent-right" style="background: #00bacd;">
                    <h4>Since 1996:
                        <span>Our History</span></h4>
                </div>
                <!-- /.block-links -->
                <div class="block-info grid-item grid-item--width2">
                    <div class="calendar" id="datepicker" data-date="12/03/2012"></div>
                    <input type="hidden" id="my_hidden_input">
                </div>
                <!-- /.block-info -->
                <div class="block-links grid-item" style="background: #f1e935;">
                    <h4>KSE Case Club:
                       <span> Startup Survival Rules by Andrii Drobot</span></h4>
                </div>
            </div>
            <!-- /.about-school-state2 -->
            <div class="about-school-state3">
                <div class="block-title grid-item--width3 grid-item" style="background:#a6c438">
                    <div class="links-item">
                        <img src="img/logo1.png" alt="image">
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <!-- /.links-item -->
                    <div class="links-item">
                        <img src="img/logo2.png" alt="image">
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <!-- /.links-item -->
                    <div class="links-item">
                        <img src="img/logo1.png" alt="image">
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <!-- /.links-item -->
                    <div class="links-item">
                        <img src="img/logo4.png" alt="image">
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <!-- /.links-item -->
                </div>
                <!-- /.block-title -->
                <div class="block-links grid-item indent-left" style="background: #f05a42;">
                    <h4>Regulations
                        <span>and Policies</span></h4>
                </div>
            </div>
            <!-- /.about-school-state3 -->
            <div class="block-info  grid-item--width4 block-eclipse" style="background:url(img/about-photo2.png) no-repeat center top / cover; height: 350px">
                <h2>Kyiv School of Economics <span>2023 Vision</span></h2>
            </div>
            <!-- /.block -->
        </div>


    </div>
    <!-- /.container -->
    <div class="footer-add" style="background:#003963;">
        <div class="container">
            <div class="partners-block">
                <strong>Strategic Partners</strong>
                <div class="partner-items">
                    <a href="#"><img src="img/footer-partner1.png" alt="image"></a>
                    <a href="#"><img src="img/footer-partner2.png" alt="image"></a>
                    <a href="#"><img src="img/footer-partner3.png" alt="image"></a>
                    <a href="#"><img src="img/footer-partner4.png" alt="image"></a>
                    <a href="#"><img src="img/footer-partner5.png" alt="image"></a>
                    <a href="#"><img src="img/footer-partner6.png" alt="image"></a>

                </div>
                <!-- /.partner-items -->
            </div>
            <!-- /.footer-add -->
            <div class="creators">
                <div class="creator-title">
                    <p>Partners</p>
                    <p>Individual Support</p>
                    <p>Scholarships</p>
                </div>
                <!-- /.creator-title -->
                <div class="creator-items">
                    <div class="creator-item">
                       <p>Anonymous
                        Dragon Capital
                        Digital Future
                        PUMB
                       </p>
                    </div>
                    <!-- /.creator-item -->
                    <div class="creator-item">
                        <p>Marius Bordalba
                        Oleksandr Kravchenko
                        Vitalii Zaiets
                        Alina Slyusarchuk
                        Tymofiy Mylovanov
                        Lyubomyr Pelykh
                        Roman Sheremeta
                        Vasiliy Furman
                        Michael Oliinyk
                        Illia Taran
                        Iryna Demko
                        Dmytro Holod
                        Tamara Sliusarenko
                        Volodymyr Tymochko
                        Yuriy Kitsul
                        Mariia Ostapchuk
                        Andriy Klesov
                        Vitaly Nosov
                        Olga Pogarska
                        Yuriy Gorodnichenko
                        Volodymyr Vakhitov
                        Oleksandr Talavera
                        Bogdan Rozhkov
                        Amet Seitibraimov
                        Arsenie Ciobanu
                        Viacheslav Sheremirov
                        Mariya Aleksynska
                        Aliaksandr Amialchuk
                        Victoria Faychuk (Kovalchuk)
                        Viktoria Gnatkovska
                        Oleg Korenok
                        Alina Kudina-Lundstrom
                        Oleksiy Sluchynskyy
                        Volodymyr Lugovskyy
                        Sergiy Alekseychik
                        Dmytro Hryshko
                        Anna Nesterenko
                        Ivan Maryanchyk
                        Yadviga Semikolenova
                        Olga Kupets
                        Oleksii Isaienko
                        Hanna Vakhitova
                        Oksana Garbuziuk
                        Andriy Bodnaruk
                        Voioletta Skrypnykova
                        Iryna Chernyshova
                        Oleksandr Rzhevskyy
                        Sergiy Peredriy
                        Yuriy Yatsynovich
                        Tetyana Shvydko
                        Kirill Piskounov
                        Vitaliy Vavryshchuk
                        Iryna Capita
                        Ilona Sologoub
                        Bogdan Rozhkov
                        Dmytro Pokidin
                        Mariya Aleksynska
                        Bogdan Rozhkov
                        Iryna Hayduk
                        Volodymyr Marchak
                        Vitaliy Myloshyk
                        Mykhailo Iavorskyi
                        Oleksii Isaienko
                        Dmytro Koloda
                        Sergii Golovko
                        Alice Jernovskaya
                        </p>
                        <p>Amet Seitibraimov
                            Arsenie Ciobanu
                            Viacheslav Sheremirov
                            Mariya Aleksynska
                            Aliaksandr Amialchuk
                            Victoria Faychuk (Kovalchuk)
                            Viktoria Gnatkovska
                            Oleg Korenok
                            Alina Kudina-Lundstrom
                            Oleksiy Sluchynskyy
                            Volodymyr Lugovskyy
                            Sergiy Alekseychik
                            Dmytro Hryshko
                            Anna Nesterenko
                            Ivan Maryanchyk
                            Yadviga Semikolenova
                            Olga Kupets
                            Oleksii Isaienko
                            Hanna Vakhitova
                            Oksana Garbuziuk
                            Andriy Bodnaruk
                            Voioletta Skrypnykova
                            Iryna Chernyshova
                            Oleksandr Rzhevskyy
                            Sergiy Peredriy
                            Yuriy Yatsynovich
                            Tetyana Shvydko
                            Kirill Piskounov
                            Vitaliy Vavryshchuk
                            Iryna Capita
                            Ilona Sologoub
                            Bogdan Rozhkov
                            Dmytro Pokidin
                            Mariya Aleksynska
                            Bogdan Rozhkov
                            Iryna Hayduk
                            Volodymyr Marchak
                            Vitaliy Myloshyk
                            Mykhailo Iavorskyi
                            Oleksii Isaienko
                            Dmytro Koloda
                            Sergii Golovko
                            Alice Jernovskaya</p>
                        <p>Voioletta Skrypnykova
                            Iryna Chernyshova
                            Oleksandr Rzhevskyy
                            Sergiy Peredriy
                            Yuriy Yatsynovich
                            Tetyana Shvydko
                            Kirill Piskounov
                            Vitaliy Vavryshchuk
                            Iryna Capita
                            Ilona Sologoub
                            Bogdan Rozhkov
                            Dmytro Pokidin
                            Mariya Aleksynska
                            Bogdan Rozhkov
                            Iryna Hayduk
                            Volodymyr Marchak
                            Vitaliy Myloshyk
                            Mykhailo Iavorskyi
                            Oleksii Isaienko
                            Dmytro Koloda
                            Sergii Golovko
                            Alice Jernovskaya</p>
                    </div>
                    <!-- /.creator-item -->
                    <div class="creator-item">
                        <p>Sviatoslav Vakarchuk
                        Peter Chernyshov
                        Volodymyr Lavrenchuk
                        Sergiy Gusovsky
                        Yevgen Gusovskyy
                        Andriy Zdesenko
                        Alex Lissitsa
                        Yegor Grygorenko
                        Yuriy Gorodnichenko
                        Tymofiy Mylovanov
                        Zoya Mylovanova
                        Victoria Strakhova
                        Alexander Pochkun
                        Olesia Verchenko
                        Ilona Sologoub
                        </p>
                    </div>
                    <!-- /.creator-item -->
                </div>
                <!-- /.creator-item -->
            </div>
            <!-- /.creators -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.partners -->
</div>
//= _partial/_footer.html
//= _partial/_page-bottom.html