//= _partial/_head.html
<div class="community-section header-page" style="background-color: #f1e935">
    //= _partial/_header-blue.html
    <div class="container">
        <div class="header-caption">
            <h1>
                Community
            </h1>
            <p>Networking dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec
                sit amet elit vitae dui mattis tincidunt id eu ante. Suspendisse rutrum arcu vel gravida hendrerit.
                Consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet elit vitae dui
                mattis tincidunt id eu ante. Suspendisse rutrum arcu vel gravida hendrerit. Donec sit amet elit vitae
                dui mattis tincidunt id eu ante. Suspendisse rutrum arcu vel gravida hendrerit.</p>
        </div>
        <!-- /.main-header -->

    </div>
    <!-- /.container -->
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="community-wrap">
            <div class="community-state1">
                <div class="block-info grid-item grid-item--width2">
                    <div class="wrapper-photo">
                        <img src="img/community-photo.png" alt="image">
                    </div>
                    <!-- /.wrapper-photo -->
                    <div class="info">
                        <h4>My Goal is to Make
                            a Contribution to Preparation of High
                            Class Specialists</h4>
                        <p>Interview with Dmytro Sologub, Deputy Governor at the National Bank of Ukraine</p>
                    </div>
                    <!-- /.info -->
                </div>
                <!-- /.block-info -->
                <div class="block-info grid-item block-eclipse"
                     style="background: #ffffff url(img/community-photo2.png)no-repeat 100% 100% / contain;">
                    <h4 style="position: relative; color:#ffffff; z-index: 100;">Become a Part
                        of KSE Team</h4>
                </div>
                <!-- /.block-info -->
                <div class="news-block grid-item indent-left">
                    <span>News</span>
                    <h4>KSE Case Student Club Announced the Chess Contest Winners</h4>
                </div>
                <!-- /.news-block -->
            </div>
            <!-- /.community-state1 -->
            <div class="community-state2">
                <div class="block-info grid-item grid-item--width2" style="background:#a6c438;">
                    <div class="info">
                        <h3>Photo Report:
                            Dinner Meeting for Students with Prominent and Successful Alumni</h3>
                    </div>
                    <!-- /.info -->
                </div>
                <!-- /.block-info -->
                <div class="block-info grid-item grid-item--width2">
                    <div class="wrapper-photo">
                        <img src="img/person-block-info.png" alt="image">
                    </div>
                    <!-- /.wrapper-photo -->
                    <div class="info">
                        <h4>School Gave Me the Professional Education and Good Network of Contacts</h4>
                        <p>Interview with Dmytro Sologub, Deputy Governor at the National Bank of Ukraine</p>
                    </div>
                    <!-- /.info -->
                </div>
            </div>
            <!-- /.community-state2 -->
            <div class="block-swiper block-title grid-item grid-item--width4" style="background:#00bacd;">
                        <div class="slider-caption">
                            <h2>Great Schools Become<br>
                                a Source of Great Power</h2>
                        </div>
                        <!-- /.slider-caption -->
                        <div class="slider-wrap">
                            <div class="swiper-container profesor-info">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide profesor-item">
                                        <div class="photo-slider">
                                            <img src="img/slider-person1.png" alt="image">
                                        </div>
                                        <!-- /.photo-profesor -->
                                        <strong>Roger Myerson</strong>
                                        <p>Nobel Laureate, member <br>of KSE International <br> Advisoty Board</p>
                                    </div>
                                    <!-- /.swiper-slide -->
                                    <div class="swiper-slide profesor-item">
                                        <div class="photo-slider">
                                            <img src="img/slider-person1.png" alt="image">
                                        </div>
                                        <!-- /.photo-profesor -->
                                        <strong>Roger Myerson</strong>
                                        <p>Nobel Laureate, member <br>of KSE International <br> Advisoty Board</p>
                                    </div>
                                    <!-- /.swiper-slide -->
                                    <div class="swiper-slide profesor-item">
                                        <div class="photo-slider">
                                            <img src="img/slider-person1.png" alt="image">
                                        </div>
                                        <!-- /.photo-profesor -->
                                        <strong>Roger Myerson</strong>
                                        <p>Nobel Laureate, member <br> of KSE International <br> Advisoty Board</p>
                                    </div>
                                    <!-- /.swiper-slide -->
                                </div>
                                <!-- /.swiper-wrapper -->
                                <div class="swiper-pagination"></div>
                            </div>
                            <!-- /.swiper-container -->

                        </div>
                        <!-- /.slider-wrap -->
                    </div>
                    <!-- /.block-swiper -->
            <div class="block-title grid-item--width4">
                <h2>We Are Proud of Our Alumni</h2>
                <ul class="tabs3">
                    <li class="tab-link current" data-tab="tab-3">Faculty</li>
                    <li class="tab-link" data-tab="tab-3">Students</li>
                    <li class="tab-link" data-tab="tab-3">Alumni</li>
                </ul>
                <div id ="tab-3" class="tab-content3">
                    <div class="choose-form">
                        <form class="form-search">
                            <input type="text" placeholder="Search Alumni by Name">
                            <div class="sorting">
                                <span>Sort by:</span>
                                <select class="select2" name="" id="">
                                    <option value="">Name</option>
                                    <option value="">Name</option>
                                    <option value="">Name</option>
                                </select>
                                <!-- /# -->
                                <a href="#"><img src="img/icon-sort.svg" alt="sort"></a>
                            </div>
                            <!-- /.sorting -->
                        </form>
                    </div>
                    <!-- /.form-search -->
                    <div class="items-link" data-simplebar>
                    <div class="links-item">
                        <div class="personal-item">
                            <div class="personal-image">
                                <img src="img/personal-item1.png" alt="image">
                            </div>
                            <!-- /.personal-image -->
                            <div class="personal-caption">
                                <span>Andriy Bulakh</span>

                            </div>
                            <!-- /.personal-caption -->
                        </div>
                        <!-- /.link-title -->
                       <div class="cafedra">
                           <p>MA in Economics and Econometric</p>
                       </div>
                       <!-- /.cafedra -->
                        <div class="person-location"><p>Executive Officer at Naftogaz Ukraine, Assosiate Professor</p></div>
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <!-- /.links-item -->
                    <div class="links-item">
                        <div class="personal-item">
                            <div class="personal-image">
                                <img src="img/personal-item2.png" alt="image">
                            </div>
                            <!-- /.personal-image -->
                            <div class="personal-caption">
                                <span>Mariya Vasylyeva</span>

                            </div>
                            <!-- /.personal-caption -->
                        </div>
                        <!-- /.link-title -->
                        <div class="cafedra"><p>MBA</p></div>
                        <div class="person-location"><p>Marketing Director at Nestle, Ukraine</p></div>
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <!-- /.links-item -->
                    <div class="links-item">
                        <div class="link-title">
                            <div class="personal-item">
                                <div class="personal-image">
                                    <img src="img/personal-item1.png" alt="image">
                                </div>
                                <!-- /.personal-image -->
                                <div class="personal-caption">
                                    <span>Andriy Bulakh</span>

                                </div>
                                <!-- /.personal-caption -->
                            </div>
                        </div>
                        <!-- /.link-title -->
                        <div class="cafedra"><p>MA in Economics Analysis</p></div>
                        <div class="person-location"><p>Marketing Director at Nestle, Ukraine</p></div>
                        <!-- /.person-location -->
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <!-- /.links-item -->
                    <div class="links-item">
                        <div class="personal-item">
                            <div class="personal-image">
                                <img src="img/personal-item2.png" alt="image">
                            </div>
                            <!-- /.personal-image -->
                            <div class="personal-caption">
                                <span>Mariya Vasylyeva</span>

                            </div>
                            <!-- /.personal-caption -->
                        </div>
                        <!-- /.link-title -->
                        <div class="cafedra"><p>MA in Economics and Econometrics</p></div>
                        <div class="person-location"><p>Executive Officer at Naftogaz Ukraine, Assosiate Professor</p></div>
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <!-- /.links-item -->
                    <div class="links-item">
                        <div class="link-title">
                            <div class="personal-item">
                                <div class="personal-image">
                                    <img src="img/personal-item1.png" alt="image">
                                </div>
                                <!-- /.personal-image -->
                                <div class="personal-caption">
                                    <span>Andriy Bulakh</span>

                                </div>
                                <!-- /.personal-caption -->
                            </div>
                        </div>
                        <!-- /.link-title -->
                        <div class="cafedra"><p>MBA</p></div>
                        <div class="person-location"> <p>Marketing Director at Nestle, Ukraine</p></div>
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <!-- /.links-item -->
                    <div class="links-item">
                        <div class="personal-item">
                            <div class="personal-image">
                                <img src="img/personal-item2.png" alt="image">
                            </div>
                            <!-- /.personal-image -->
                            <div class="personal-caption">
                                <span>Mariya Vasylyeva</span>

                            </div>
                            <!-- /.personal-caption -->
                        </div>
                        <!-- /.link-title -->
                        <div class="cafedra"><p>MA in Economics Analysis</p></div>
                        <div class="person-location"> <p>Marketing Director at Nestle, Ukraine</p></div>
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <!-- /.links-item -->
                    <div class="links-item">
                        <div class="link-title">
                            <div class="personal-item">
                                <div class="personal-image">
                                    <img src="img/personal-item1.png" alt="image">
                                </div>
                                <!-- /.personal-image -->
                                <div class="personal-caption">
                                    <span>Andriy Bulakh</span>

                                </div>
                                <!-- /.personal-caption -->
                            </div>
                        </div>
                        <!-- /.link-title -->
                        <div class="cafedra"><p>MA in Economics and Econometric</p></div>
                        <div class="person-location"> <p>PhD, University of California, Berkeley</p></div>
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <!-- /.links-item -->
                    </div>
                    <!-- /.items-link -->
                </div>
            </div>
            <!-- /.block-title -->
            </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.homepage-content -->
</div>
    //= _partial/_footer.html

//= _partial/_page-bottom.html