//= _partial/_head.html
<div class="course-profile-section header-page" style="background-color:#00bacd;">
    //= _partial/_header-blue.html
    <div class="container">
        <div class="header-caption">
            <h1 style="color:#003963;">
                Statistics and Econometrics
            </h1>
        </div>
        <!-- /.main-header -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="course-profile-wrap">
            <div class="content-block">
                <div class="content-wrap">
                    <div class="block-title">
                        <div class="block-caption">
                            <strong>Description</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae
                                dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante. Suspendisse rutrum arcu
                                vel gravida hendrerit. Nulla a diam tristique, tincidunt nulla quis, eleifend metus. Nam
                                mattis dignissim tortor, a auctor tortor accumsan ac. Sed blandit ornare nibh id consequat.
                                Vivamus finibus metus ut nunc ultrices, vitae commodo eros luctus. Nulla a diam tristique,
                                tincidunt nulla quis, eleifend metus. Nam mattis dignissim tortor, a auctor tortor accumsan
                                ac. Sed blandit ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae
                                commodo eros luctus.</p>
                        </div>
                        <!-- /.block-caption -->
                        <div class="description-price">
                            <div class="description-item">
                                <strong>Length</strong>
                                <p><strong>2</strong> semesters</p>
                            </div>
                            <!-- /.description-item -->
                            <div class="description-item">
                                <strong>Credits</strong>
                                <p><strong>12</strong> credits</p>
                            </div>
                            <!-- /.description-item -->
                        </div>
                        <!-- /.description-price -->

                    </div>
                    <!-- /.block-title -->
                    <div class="block-info grid-item indent-right" style="background:#f1e935; text-align: center;">
                        <h4>Digital Marketing Open Online Course</h4>
                    </div>
                    <!-- /.block-links -->
                    <div class="block-info grid-item grid-item--width2" style="background: #a6c438; text-align: center;">
                        <h3>Support Kyiv School of Economics</h3>
                    </div>
                    <!-- /.block-info -->
                </div>
                <!-- /.content-wrap -->

            </div>
            <!-- /.content-block -->
            <div class="block-personal">
                <strong>Faculty</strong>
                <div class="personal-item">
                    <div class="personal-image">
                        <img src="img/personal-item1.png" alt="image">
                    </div>
                    <!-- /.personal-image -->
                    <div class="personal-caption">
                        <span>Andriy Bulakh</span>
                        <p>Associate Professor</p>
                    </div>
                    <!-- /.personal-caption -->

                </div>
                <!-- /.personal-item -->
                <div class="personal-item">
                    <div class="personal-image">
                        <img src="img/personal-item2.png" alt="image">
                    </div>
                    <!-- /.personal-image -->
                    <div class="personal-caption">
                        <span>Mariya Vasylyeva</span>
                        <p>Associate Professor</p>
                    </div>
                    <!-- /.personal-caption -->

                </div>
                <!-- /.personal-item -->

            </div>
            <!-- /.block-personal -->
        </div>
        <!-- /.research-wrap -->
    </div>
    <!-- /.container -->
</div>
<!-- /.research-content -->
    //= _partial/_footer.html


//= _partial/_page-bottom.html