//= _partial/_head.html
<div class="department-profile-section header-page block-eclipse" style="background-image: url(img/bg-department-profile.png)">
    //= _partial/_header.html
    <div class="container">
        <div class="header-caption">
            <h1>
                Education for the Future Generation
                of World-class Economists and Managers
            </h1>
            <p>KSE is unique in Ukraine for its economics program at KSE is taught entirely English, using
                English-language textbooks and other teaching materials; it is the only graduate economics school in
                Ukraine with a dual degree program with a Western university (the University of Houston).
            </p>
        </div>
        <!-- /.main-header -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="department-profile-wrap">
            <div class="block-cards">
                <div class="left-block">
                    <div class="block-title">
                        <div class="block-caption">
                        <strong>Description</strong>
                        <p>The programs taught exclusively in English by faculty of western Ph.D. economists and
                            economic policy leaders. The programs offers unique skills in economic and financial
                            modeling and analysis that prepare students of the program to work effectively as economists
                            in decision-making and advisory positions in their home country, or to apply to Ph.D.
                            programs abroad.</p>
                        </div>
                        <!-- /.block-caption -->
                    </div>
                    <!-- /.block-title -->
                    <div class="block-info grid-item grid-item--width3">
                        <div class="card-title">
                            <div class="info-card description-price">
                                <h4>MA in Economics and Econometrics</h4>
                                <div class="descriptions-items">

                                    <div class="description-item">
                                        <strong>Duration</strong>
                                        <p><strong>12 </strong>months</p>
                                    </div>
                                    <!-- /.duration -->
                                    <div class="description-item">
                                        <strong>Price</strong>
                                        <p><strong>₴ 75 000 </strong>per year</p>
                                    </div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.descriptions-items -->
                            </div>
                            <!-- /.info-card -->
                            <div class="card-caption">
                                <strong>Faculty</strong>
                                <div class="faculty-members">
                                    <a href="#">
                                    <div class="faculty-item">
                                        <img src="img/faculty-item1.png" alt="image">
                                    </div>
                                    </a>
                                    <!-- /.member-item -->
                                    <a href="#">
                                    <div class="faculty-item">
                                        <img src="img/faculty-item2.png" alt="image">
                                    </div>
                                    </a>
                                    <!-- /.member-item -->
                                    <a href="#">
                                    <div class="faculty-item">
                                        <img src="img/faculty-item3.png" alt="image">
                                    </div>
                                    </a>
                                    <!-- /.member-item -->
                                    <a href="#">
                                    <div class="faculty-item">
                                        <img src="img/faculty-item4.png" alt="image">
                                    </div>
                                    </a>
                                    <!-- /.member-item -->
                                    <a href="#">
                                    <div class="faculty-item">
                                        <span>+4</span>
                                    </div>
                                    </a>
                                    <!-- /.member-item -->
                                </div>
                                <!-- /.faculty-members -->
                                <p>Designed for mathematics majors who want to acquire relevant skills to have a
                                    successful career in business and policy analysis.</p>
                            </div>
                            <!-- /.card-caption -->
                        </div>
                        <!-- /.card-title -->

                    </div>
                    <div class="block-info grid-item grid-item--width3">
                        <div class="card-title">
                            <div class="info-card description-price">
                                <h4>MA in Economics and Econometrics</h4>
                                <div class="descriptions-items">

                                    <div class="description-item">
                                        <strong>Duration</strong>
                                        <p><strong>12 </strong>months</p>
                                    </div>
                                    <!-- /.duration -->
                                    <div class="description-item">
                                        <strong>Price</strong>
                                        <p><strong>₴ 75 000 </strong>per year</p>
                                    </div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.descriptions-items -->
                            </div>
                            <!-- /.info-card -->
                            <div class="card-caption">
                                <strong>Faculty</strong>
                                <div class="faculty-members">
                                    <a href="#">
                                        <div class="faculty-item">
                                            <img src="img/faculty-item1.png" alt="image">
                                        </div>
                                    </a>
                                    <!-- /.member-item -->
                                    <a href="#">
                                        <div class="faculty-item">
                                            <img src="img/faculty-item2.png" alt="image">
                                        </div>
                                    </a>
                                    <!-- /.member-item -->
                                    <a href="#">
                                        <div class="faculty-item">
                                            <img src="img/faculty-item3.png" alt="image">
                                        </div>
                                    </a>
                                    <!-- /.member-item -->
                                    <a href="#">
                                        <div class="faculty-item">
                                            <img src="img/faculty-item4.png" alt="image">
                                        </div>
                                    </a>
                                    <!-- /.member-item -->
                                    <a href="#">
                                        <div class="faculty-item">
                                            <span>+4</span>
                                        </div>
                                    </a>
                                    <!-- /.member-item -->
                                </div>
                                <!-- /.faculty-members -->
                                <p>Designed for mathematics majors who want to acquire relevant skills to have a
                                    successful career in business and policy analysis.</p>
                            </div>
                            <!-- /.card-caption -->
                        </div>
                        <!-- /.card-title -->

                    </div>
                    <div class="block-info grid-item grid-item--width3">
                        <div class="card-title">
                            <div class="info-card description-price">
                                <h4>MA in Economics and Econometrics</h4>
                                <div class="descriptions-items">

                                    <div class="description-item">
                                        <strong>Duration</strong>
                                        <p><strong>12 </strong>months</p>
                                    </div>
                                    <!-- /.duration -->
                                    <div class="description-item">
                                        <strong>Price</strong>
                                        <p><strong>₴ 75 000 </strong>per year</p>
                                    </div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.descriptions-items -->
                            </div>
                            <!-- /.info-card -->
                            <div class="card-caption">
                                <strong>Faculty</strong>
                                <div class="faculty-members">
                                    <a href="#">
                                        <div class="faculty-item">
                                            <img src="img/faculty-item1.png" alt="image">
                                        </div>
                                    </a>
                                    <!-- /.member-item -->
                                    <a href="#">
                                        <div class="faculty-item">
                                            <img src="img/faculty-item2.png" alt="image">
                                        </div>
                                    </a>
                                    <!-- /.member-item -->
                                    <a href="#">
                                        <div class="faculty-item">
                                            <img src="img/faculty-item3.png" alt="image">
                                        </div>
                                    </a>
                                    <!-- /.member-item -->
                                    <a href="#">
                                        <div class="faculty-item">
                                            <img src="img/faculty-item4.png" alt="image">
                                        </div>
                                    </a>
                                    <!-- /.member-item -->
                                    <a href="#">
                                        <div class="faculty-item">
                                            <span>+4</span>
                                        </div>
                                    </a>
                                    <!-- /.member-item -->
                                </div>
                                <!-- /.faculty-members -->
                                <p>Designed for mathematics majors who want to acquire relevant skills to have a
                                    successful career in business and policy analysis.</p>
                            </div>
                            <!-- /.card-caption -->
                        </div>
                        <!-- /.card-title -->

                    </div>
                    <div class="wrapper">
                    <div class="block-info grid-item grid-item--width3 block-eclipse"
                         style="background:url(img/department-photo2.png) no-repeat ; color:#ffffff;">
                        <div class="info">
                            <h3>KSE BrainChamp</h3>
                        </div>
                        <!-- /.info -->
                    </div>
                    </div>
                    <!-- /.wrapper -->
                    <div class="department-state">
                        <div class="block-info grid-item indent-right" style="background:#f05a42;">
                            <h4>Information on Scholarships</h4>
                        </div>
                        <!-- /.block-info -->
                        <div class="block-info grid-item indent-right" style="background:#a6c438;">
                            <h4>Download
                                Department Presentation</h4>
                        </div>
                        <div class="news-block grid-item">
                            <span>News</span>
                            <h4>PUMB became
                                a partner in the KSE educational program for regional students</h4>
                        </div>
                        <!-- /.news-block -->
                    </div>
                    <div class="department-state">
                        <div class="news-block grid-item">
                            <span>News</span>
                            <h4>Anya Bobyak Nagirna joined the International Academic Council of the KSE</h4>
                        </div>
                        <!-- /.news-block -->
                        <div class="block-info grid-item grid-item--width2" style="background:#fff;">
                           <div class="wrapper-photo">
                               <img src="img/department-photo.png" alt="image">
                           </div>
                           <!-- /.wrapper-photo -->
                            <div class="info">
                                <h4>I believe that education makes sense if it changes human thinking</h4>
                                <p>Interview with Pavlo Bandura, HSead Of Marketing in Google</p>
                            </div>
                            <!-- /.info -->
                        </div>
                        <!-- /.block-info -->
                    </div>
                    <!-- /.department-state -->
                    </div>
                <div class="extr-right">
                <!-- /.extr-right -->
                <div class="block-links">
                    <span>Department Events</span>
                    <div class="links-item">
                        <div class="link-title">
                            <strong>All-Ukrainian  Financial Economics Olympiad</strong>
                            <div class="calendar-caption">
                                <img src="img/icon-calendar.png" alt="calendar-icon">
                                <p>February 22</p>
                            </div>
                        </div>
                        <!-- /.link-title -->
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                    <div class="links-item">
                        <div class="link-title">
                            <strong>Economic Programs
                                Open Day</strong>
                            <div class="calendar-caption">
                                <img src="img/icon-calendar.png" alt="calendar-icon">
                                <p>March 2</p>
                            </div>
                        </div>
                        <!-- /.link-title -->
                        <button class="btn link-btn"></button>
                        <!-- /.btn btn-links -->
                    </div>
                </div>
                <!-- /.block-links -->
                <div class="block-personal">
                    <strong>Contacts</strong>
                    <div class="personal-item">
                        <div class="personal-image">
                            <img src="img/personal-item1.png" alt="image">
                        </div>
                        <!-- /.personal-image -->
                        <div class="personal-caption">
                            <span>Andriy Bulakh</span>
                            <p>Vice President</p>
                        </div>
                        <!-- /.personal-caption -->
                    </div>
                    <!-- /.personal-item -->
                    <div class="personal-item border">
                        <div class="personal-image">
                            <img src="img/personal-item2.png" alt="image">
                        </div>
                        <!-- /.personal-image -->
                        <div class="personal-caption">
                            <span>Mariya Vasylyeva</span>
                            <p>Vice President</p>
                        </div>
                        <!-- /.personal-caption -->

                    </div>
                    <!-- /.personal-item -->
                    <div class="social-link">
                        <div class="block-social">
                            <a href="#"><img src="img/icon-facebook.svg" alt="image"></a>
                            <a href="#"><img src="img/icon-telegram.svg" alt="image"></a>
                            <a href="#"><img src="img/icon-social.svg" alt="image"></a>
                        </div>
                        <!-- /.block-social -->
                        <p>+38 067 434 71 63
                            masters@kse.org.ua</p>
                    </div>
                    <!-- /.social-link -->
                </div>
                <!-- /.block-personal -->
            </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.homepage-content -->


    //= _partial/_footer.html

//= _partial/_page-bottom.html