//= _partial/_head.html
<div class="economics-section header-page" style="background-color:#003963;">
    //= _partial/_header.html
    <div class="container">
        <div class="header-caption">
            <h1>
                Search Results for “Economics”
            </h1>
        </div>
        <!-- /.main-header -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="economics-wrap">
            <div class="economics-block">
                <div class="block-title">
                    <h4>The Centre for Economic Performance</h4>
                    <p>The programs taught exclusively in English by faculty of western Ph.D. <strong>economists</strong> and <strong>economists</strong> policy leaders. Offers unique skills in economic and financial modeling and analysis that prepare students of the program to work effectively as economists in decision-making and advisory positions in their home country…</p>
                </div>
                <div class="economics-title block-title">
                    <h4>Department of Economics</h4>
                    <p>KSE’s Department of Economics is a leading research and teaching department.</p>
                </div>
                <div class="economics-title block-title">
                    <h4>Quantitative topics in economic history II: time series and…</h4>
                </div>
                <div class="economics-title block-title">
                    <h4>Department of Economics</h4>
                    <p>KSE’s Department of Economics is a leading research and teaching department.</p>
                </div>
                <div class="economics-title block-title">
                    <h4>Economic History</h4>
                </div>
                <div class="economics-title block-title">
                    <h4>Feminist Economics and Policy: An Introduction</h4>

                </div>
                <div class="economics-title block-title">
                    <h4>Library</h4>
                    <p>Welcome to LSE Library: The British Library of Political and Economic Science. Explore our unique collections and learn more about our services.</p>
                </div>
            </div>
            <!-- /.economics-block -->

            <!-- /.block-title -->
            <div class="block-links">
                <span>Refine by Result Type</span>
                <div class="links-item">
                    <div class="link-title">
                        <strong>Website</strong>
                        <p>45,864 results</p>
                    </div>
                    <!-- /.link-title -->
                    <button class="btn link-btn"></button>
                    <!-- /.btn btn-links -->
                </div>
                <div class="links-item">
                    <div class="link-title">
                        <strong>Research</strong>
                        <p>45,864 results</p>
                    </div>
                    <!-- /.link-title -->
                    <button class="btn link-btn"></button>
                    <!-- /.btn btn-links -->
                </div>
                <div class="links-item">
                    <div class="link-title">
                        <strong>People</strong>
                        <p>160 results </p>
                    </div>
                    <!-- /.link-title -->
                    <button class="btn link-btn"></button>
                    <!-- /.btn btn-links -->
                </div>
                <div class="links-item">
                    <div class="link-title">
                        <strong>Programmes</strong>
                        <p>119 results</p>
                    </div>
                    <!-- /.link-title -->
                    <button class="btn link-btn"></button>
                    <!-- /.btn btn-links -->
                </div>
                <div class="links-item">
                    <div class="link-title">
                        <strong>Events</strong>
                        <p>99 results</p>
                    </div>
                    <!-- /.link-title -->
                    <button class="btn link-btn"></button>
                    <!-- /.btn btn-links -->
                </div>
                <div class="links-item">
                    <div class="link-title">
                        <strong>News</strong>
                        <p>29 results</p>
                    </div>
                    <!-- /.link-title -->
                    <button class="btn link-btn"></button>
                    <!-- /.btn btn-links -->
                </div>
                <!-- /.links-item -->
            </div>
            <!-- /.block-links -->
        </div>
        <!-- /.economics-wrap -->

    </div>
    <!-- /.container -->
</div>
<!-- /.economics-content -->

<!--закінчити погінацію -->


    //= _partial/_footer.html


//= _partial/_page-bottom.html