//= _partial/_head.html
<div class="education-section header-page" style="background-color:#a6c438;">
    //= _partial/_header-blue.html
    <div class="container">
        <div class="header-caption">
            <h1>
                Education
            </h1>
            <p>Dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet
                elit vitae dui mattis tincidunt id eu ante. Suspendisse rutrum arcu vel gravida hendrerit. Consectetur
                adipiscing elit. Proin suscipit ultricies nibh vitae dictum.</p>
        </div>
        <!-- /.main-header -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="education-wrap">
            <div class="content-block">
                <div class="block-title">
                    <h3>Degree Programs</h3>
                    <ul class="tabs1">
                        <li class="tab-link current" data-tab="tab-1">Master Programs</li>
                        <li class="tab-link" data-tab="tab-1">MBA’s</li>
                    </ul>
                    <div id ="tab-1" class="tab-content1">
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Master’s Program in Business and Financial Economics</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Master’s Program in Mathematical Economics and Econometrics</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Master’s Program in Economic Analysis</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.block-title -->
                <div class="block-title">
                    <h3>Executive Education</h3>
                    <ul class="tabs2">
                        <li class="tab-link current" data-tab="tab-2">Short-term</li>
                        <li class="tab-link" data-tab="tab-2">Mid-term</li>
                    </ul>
                    <div id ="tab-2" class="tab-content2">
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Marketing</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Finance</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Project Management</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Risk Management</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Strategic Planning</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Business Communications</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>IT Business</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>MA in Public Policy and Governance</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.block-title -->
                <div class="content-wrap">
                    <div class="news-block grid-item">
                        <span>News</span>
                        <h4>KSE<br>
                            Launches Free Entrepreneurial Program for ATO Veterans</h4>
                    </div>
                    <div class="block-info grid-item grid-item--width2" style="background:#a6c438;">
                        <h3>Infromation on<br>Scholarships</h3>
                    </div>
                    <!-- /.block-info -->
                </div>
                <!-- /.content-wrap -->
                <div class="content-wrap">
                    <div class="block-info grid-item indent-right" style="background:#f1e935; text-align: center">
                        <h4>Digital Marketing Open Online Course</h4>
                    </div>
                    <!-- /.block-links -->
                    <div class="block-info grid-item grid-item--width2">
                        <div class="wrapper-photo">
                            <img src="img/person-block-info.png" alt="image">
                        </div>
                        <!-- /.wrapper-photo -->
                        <div class="info">
                        <h4>School Gave Me the Professional Education and Good Network of Contacts</h4>
                        <p>Interview with Dmytro Sologub, Deputy Governor at the National Bank of Ukraine</p>
                        </div>
                        <!-- /.info -->
                    </div>
                    <!-- /.block-info -->
                </div>
                <!-- /.content-wrap -->
            </div>
            <!-- /.content-block -->
            <div class="block-info indent-left grid-item color-white" style="background:url(img/education-bg.png) no-repeat center top / cover;">
                <h4>Search All<br>
                    KSE Programs</h4>

            </div>
            <!-- /.block-links -->
        </div>
        <!-- /.research-wrap -->
    </div>
    <!-- /.container -->
</div>
<!-- /.research-content -->

    //= _partial/_footer.html


//= _partial/_page-bottom.html