//= _partial/_head.html
<div class="event-page-section header-page" style="background-color:#f05a42;">
    //= _partial/_header-blue.html
    <div class="container">
        <div class="header-caption">
            <h1 style="color:#003963; font-weight: 700">
                Discussion: Best Practices in Government Accountability at National and Local Level
            </h1>
        </div>
        <!-- /.main-header -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="event-page-wrap">
            <div class="content-block">
                <div class="content-wrap">
                    <div class="block-title">
                        <div class="block-caption">
                            <strong>Description</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh
                                vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante. Suspendisse
                                rutrum arcu vel gravida hendrerit. Nulla a diam tristique, tincidunt nulla quis,
                                eleifend metus. Nam mattis dignissim tortor, a auctor tortor accumsan ac. Sed blandit
                                ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae commodo eros
                                luctus. Nulla a diam tristique, tincidunt nulla quis, eleifend metus. Nam mattis
                                dignissim tortor, a auctor tortor accumsan ac.</p>
                            <p>Sed blandit ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae
                                commodo eros luctus.Sed blandit ornare nibh id consequat. Nulla a diam tristique,
                                tincidunt nulla quis, eleifend metus. Nam mattis dignissim tortor, a auctor tortor
                                accumsan ac. Sed blandit ornare nibh id consequat. Vivamus finibus metus ut nunc
                                ultrices, vitae commodo eros luctus.Sed blandit ornare nibh id consequat. Vivamus
                                finibus metus ut nunc ultrices, vitae commodo.</p>
                        </div>
                        <!-- /.block-caption -->


                    </div>
                    <!-- /.block-title -->
                   <div class="block-title">
                       <div class="block-caption">
                           <strong>Files</strong>
                           <div class="file-load">
                               <p>Donec sit amet elit “Suspendisse rutrum arcu vel gravida” hendrerit</p>

                               <div class="btn-download">
                                   <a href="#">PDF</a>
                                   <button class="btn-load btn"><img src="img/icon-load.png" alt="image"></button>
                               </div>
                               <!-- /.btn-load -->

                           </div>
                           <!-- /.file-load -->
                           <div class="file-load">
                               <p>Donec sit amet elit “Suspendisse rutrum arcu vel gravida” hendrerit</p>

                               <div class="btn-download">
                                   <a href="#">DOC</a>
                                   <button class="btn-load btn"><img src="img/icon-load.png" alt="image"></button>
                               </div>
                               <!-- /.btn-load -->

                           </div>
                       </div>
                       <!-- /.block-caption -->
                   </div>
                   <!-- /.block-title -->
                </div>
                <!-- /.content-wrap -->

            </div>
            <!-- /.content-block -->
            <div class="extreme-block">
                <div class="block-personal">
                    <strong>Information</strong>
                    <p>November 25th,<br>
                        19:00</p>
                    <p>Room 203</p>

                </div>
                <!-- /.block-links -->
                <div class="block-personal">
                    <strong>Contacts</strong>
                    <div class="personal-item">
                        <div class="personal-image">
                            <img src="img/personal-item1.png" alt="image">
                        </div>
                        <!-- /.personal-image -->
                        <div class="personal-caption">
                            <span>Andriy Bulakh</span>
                            <p>Associate Professor</p>
                        </div>
                        <!-- /.personal-caption -->

                    </div>
                </div>
                <!-- /.block-personal -->
            </div>
            <!-- /.research-wrap -->
            </div>



    </div>
    <!-- /.container -->
</div>
<!-- /.research-content -->
    //= _partial/_footer.html


//= _partial/_page-bottom.html