//= _partial/_head.html
<div class="faculty-section header-page" style="background-color:#ffffff;">
    //= _partial/_header-blue.html
    <div class="container">
        <!-- /.container -->
        <div class="header-caption">
            <div class="header-image">
                <img src="img/header-image.png" alt="profile-photo">
            </div>
            <!-- /.header-image -->
            <h1>
                Andriy Bulakh
            </h1>
            <p>Professor at the Department of Economics,<br>PhD, University of California, Berkeley</p>
        </div>
    </div>
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="faculty-wrap">
            <div class="faculty-block">
                <div class="block-title">
                    <div class="block-caption">
                        <strong>Biography</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae
                            dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante. Suspendisse rutrum arcu vel
                            gravida hendrerit. Nulla a diam tristique, tincidunt nulla quis, eleifend metus. Nam mattis
                            dignissim tortor, a auctor tortor accumsan ac. Sed blandit ornare nibh id consequat. Vivamus
                            finibus metus ut nunc ultrices, vitae commodo eros luctus. Nulla a diam tristique, tincidunt
                            nulla quis, eleifend metus. Nam mattis dignissim tortor, a auctor tortor accumsan ac. Sed
                            blandit ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae commodo eros
                            luctus.Sed blandit ornare nibh id consequat. Nulla a diam tristique, tincidunt nulla quis,
                            eleifend metus. Nam mattis dignissim tortor, a auctor tortor accumsan ac. Sed blandit ornare
                            nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae commodo eros luctus.Sed blandit
                            ornare nibh id consequat. Vivamus finibus metus ut nunc ultri… <a href="#">See More</a></p>
                    </div>
                    <!-- /.block-caption -->
                </div>
                <!-- /.block-title -->
                <div class="block-title">
                    <div class="block-caption underline">
                        <strong>Courses</strong>
                        <span>Statistics and econometrics within Ukrainian society</span>
                        <span>Economical analytics and prognosing in structural analysis</span>
                        <span>Social graphs in social media</span>
                    </div>
                    <!-- /.block-caption -->
                </div>
                <!-- /.block-title -->
                <div class="block-title slides-block">
                    <div class="block-caption">
                        <strong>Projects</strong>
                        <div class="slider-project swiper-container">
                            <div class="swiper-wrapper">
                            <div class="swiper-slide project-item">
                                <span>2012–2017</span>
                                <strong>Provision of Support to the Partnership for Transparency Fund to train Ukrainian
                                    Civil Society Organizations (CSOs) in Procurement Monitoring</strong>
                            </div>
                            <!-- /.slider-item-->
                            <div class="swiper-slide project-item">
                                <span>2008–2010</span>
                                <strong>Provision of Support to the Partnership for Transparency Fund to train Ukrainian
                                    Civil Society Organizations (CSOs) in Procurement Monitoring</strong>
                            </div>
                            <!-- /.slider-item-->
                            </div>
                            <!-- /.swiper-wrapper -->
                        </div>
                        <!-- /.slider-project -->
                    </div>
                    <!-- /.block-caption -->
                    <div class="swiper-button-prev"></div>
                    <!-- /.swiper-button-prev -->
                    <div class="swiper-button-next"></div>
                    <!-- /.swiper-button-next -->

                </div>
                <!-- /.block-title -->
                <div class="block-title">
                    <div class="block-caption">
                        <strong>Research</strong>
                        <div class="file-load">
                            <p><span>2014</span>Donec sit amet elit “Suspendisse rutrum arcu vel gravida” hendrerit</p>

                            <div class="btn-download">
                                <a href="#">PDF</a>
                                <button class="btn-load btn"><img src="img/icon-load.png" alt="image"></button>
                            </div>
                            <!-- /.btn-load -->

                        </div>
                        <!-- /.file-load -->
                        <div class="file-load">
                            <p><span>2008</span>Donec sit amet elit “Suspendisse rutrum arcu vel gravida” hendrerit</p>

                            <div class="btn-download">
                                <a href="#">DOC</a>
                                <button class="btn-load btn"><img src="img/icon-load.png" alt="image"></button>
                            </div>
                            <!-- /.btn-load -->
                        </div>
                        <div class="file-load">
                            <p><span>2007</span>Donec sit amet elit “Suspendisse rutrum arcu vel gravida” hendrerit</p>
                        </div>
                        <div class="file-load">
                            <p><span>2005</span>Donec sit amet elit “Suspendisse rutrum arcu vel gravida” hendrerit</p>

                            <div class="btn-download">
                                <a href="#">DOC</a>
                                <button class="btn-load btn"><img src="img/icon-load.png" alt="image"></button>
                            </div>
                            <!-- /.btn-load -->
                        </div>
                    </div>
                    <!-- /.block-caption -->
                </div>
                <!-- /.block-title -->
            </div>
            <!-- /.faculty-block -->
            <div class="block-photo-caption indent-left grid-item grid-item--height2">
<div class="wrapper-photo">
    <img src="img/faculty-bg.png" alt="image">
</div>
<!-- /.wrapper-photo -->
                <div class="info">
                <h4>National Bank’s Policy Should be Based on Research
                </h4>
                <p>
                    Interview with Dmytro Sologub, Deputy Governor at the National Bank of Ukraine
                </p>
                </div>
                <!-- /.info -->
            </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.faculty-content -->
</div>

    //= _partial/_footer.html


//= _partial/_page-bottom.html