//= _partial/_head.html
<div class="impact-section header-page" style="background-color:#f05a42;">
    //= _partial/_header-blue.html
    <div class="container">
        <div class="header-caption">
            <h1>
                Impact
            </h1>
            <p>KSE initiatives are platforms where our students, alumni and faculty deal with deep economic issues and
                exchange expertise with real-world practitioners. Initiatives comprise spheres like procurement,
                journalism, media and public events. Their results are also diverse: from professional trainings to
                public informing and support of Ukrainian reform processes. Although, initiatives are not purely
                launched by Kyiv School of Economics, they share the school’s mark of excellence and KSE members are
                heavily involved in their running. We are confident that they can make a crucial impact for Ukraine.</p>
        </div>
        <!-- /.main-header -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="impact-wrap">
            <div class="impact-block">
                <div class="impact-title block-title">
               <div class="impact-item">
                   <h4>Centre of Excellence
                       in Procurement</h4>
               </div>
               <!-- /.impact-left -->
                 <div class="impact-item">
                     <p>The Center aims to improve the professionalism of the procurement function of public and private entities through the education course and analytical research in the sphere.</p>
                 </div>
                 <!-- /.impact-right -->
                </div>
                <div class="impact-title block-title">
                    <div class="impact-item">
                        <h4>Vox Ukraine</h4>
                    </div>
                    <!-- /.impact-left -->
                    <div class="impact-item">
                        <p>Independent analytical platform founded in 2014, after the Revolution of Dignity, by a team of highly experienced economists and lawyers based in Ukraine and abroad.</p>
                    </div>
                </div>
                <div class="impact-title block-title">
                    <div class="impact-item">
                        <h4>Centre for Excellence
                            in Economic Journalism</h4>
                    </div>
                    <!-- /.impact-left -->
                    <div class="impact-item">
                        <p>The Center serves as a platform for professional development and training for those who write about Ukrainian economy.</p>
                    </div>
                </div>
                <div class="impact-title block-title">
                    <div class="impact-item">
                        <h4>Ukraine Economy Week</h4>
                    </div>
                    <!-- /.impact-left -->
                    <div class="impact-item">
                        <p>A week of educational and professional events dedicated to development of Ukrainian economy in partnership with Visa and National Bank of Ukraine.</p>
                    </div>
                </div>
            </div>
            <!-- /.impact-block -->

            <!-- /.block-title -->
            <div class="block-links">
                <span>Events from Departments</span>
                <div class="links-item">
                    <div class="link-title">
                        <strong>Data Sustainable Growth</strong>
                        <div class="calendar-caption">
                            <img src="img/icon-calendar.png" alt="calendar-icon">
                            <p>November 17–18</p>
                        </div>
                    </div>
                    <!-- /.link-title -->
                    <button class="btn link-btn"></button>
                    <!-- /.btn btn-links -->
                </div>
                <div class="links-item">
                    <div class="link-title">
                        <strong>Case Club Meeting</strong>
                        <div class="calendar-caption">
                            <img src="img/icon-calendar.png" alt="calendar-icon">
                            <p>November 17–18</p>
                        </div>
                    </div>
                    <!-- /.link-title -->
                    <button class="btn link-btn"></button>
                    <!-- /.btn btn-links -->
                </div>
                <div class="links-item">
                    <div class="link-title">
                        <strong>Jedi Party with Alumni</strong>
                        <div class="calendar-caption">
                            <img src="img/icon-calendar.png" alt="calendar-icon">
                            <p>April 3</p>
                        </div>
                    </div>
                    <!-- /.link-title -->
                    <button class="btn link-btn"></button>
                    <!-- /.btn btn-links -->
                </div>
                <div class="links-item">
                    <div class="link-title">
                        <strong>Econometrics and Public Administration</strong>
                        <div class="calendar-caption">
                            <img src="img/icon-calendar.png" alt="calendar-icon">
                            <p>April 1</p>
                        </div>
                    </div>
                    <!-- /.link-title -->
                    <button class="btn link-btn"></button>
                    <!-- /.btn btn-links -->
                </div>
            </div>
            <!-- /.block-links -->
        </div>
        <!-- /.economics-wrap -->

    </div>
    <!-- /.container -->
</div>
<!-- /.economics-content -->

<!--закінчити погінацію -->


    //= _partial/_footer.html


//= _partial/_page-bottom.html