//= _partial/_head.html
<div class="header-section header-page block-eclipse" style="background-image: url(img/bg-main-page.png)">
    <div class="container">
        <div class="header-caption">
            <h1>
                Make Impact With<br>
                Kyiv School of Economics
            </h1>
        </div>
        <!-- /.main-header -->

    </div>
    <!-- /.container -->
    //= _partial/_header.html
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="homepage-wrap">
            <div class="first-state">
            <div class="block-info block-eclipse grid-item grid-item--width3" style="background-image: url(img/KSE-Reference.png);color:#ffffff;">
                <div class="text-center">
                <!-- /.text --><h2>Study at Kyiv School<br>
                    of Economics</h2>
                </div>
            </div>
            <!-- /.block-title -->
            <div class="block-info indent-left grid-item indent-bottom">
                <div class="wrap-text">
                <h4>Meet<br>
                    Our Faculty</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae
                    dictum.</p>
                </div>
                <!-- /.info -->
            </div>
            <!-- /.block-links -->

                <!--style="background-image: url(img/Dmytro_Sologub.png); background-position: center top; background-repeat: no-repeat; background-size:contain;"-->

                <div class="block-photo-caption grid-item grid-item--height2  indent-right">
                    <div class="wrapper-photo">
                        <img src="img/Dmytro_Sologub.png" alt="image">
                    </div>
                    <!-- /.wrapper-photo -->
                    <div class="wrapper-caption">
                        <div class="info">
                            <h4>National Bank’s Policy Should be Based on Research
                            </h4>
                            <p>
                                Interview with Dmytro Sologub, Deputy Governor at the National Bank of Ukraine
                            </p>
                        </div>
                        <!-- /.info -->
                    </div>
                    <!-- /.wrapper-caption -->
                </div>
                <!-- /.block-links -->
                <div class="double-block">
                    <div class="block-title photo-title grid-item grid-item--width3" style="background:#f05a42; color:#003863;">
                        <h2>Support Kyiv School of Economics</h2>
                    </div>
                    <!-- /.block-title -->
                    <div class="block-title grid-item grid-item--width3">
                        <div class="calendar-block">
                            <div class="calendar-item">
                                <div class="calendar-caption">
                                    <img src="img/icon-calendar.png" alt="calendar-icon">
                                    <p>October 12</p>
                                </div>
                                <!-- /.calendar-caption -->
                                <strong>Data for Sustainable Growth</strong>
                            </div>
                            <!-- /.calendar-item -->
                            <div class="calendar-item">
                                <div class="calendar-caption">
                                    <img src="img/icon-calendar.png" alt="calendar-icon">
                                    <p>October 7</p>
                                </div>
                                <!-- /.calendar-caption -->
                                <strong>A Players and Company Power Games to Succeed by Iryna Romanenko</strong>
                            </div>
                            <!-- /.calendar-item -->
                            <div class="calendar-item">
                                <div class="calendar-caption">
                                    <img src="img/icon-calendar.png" alt="calendar-icon">
                                    <p>October 3</p>
                                </div>
                                <!-- /.calendar-caption -->
                                <strong>Discussion: Best Practices in Government Accountability of Ukrainian Economy</strong>
                            </div>
                            <!-- /.calendar-item -->
                            <div class="calendar-item">
                                <div class="calendar-caption">
                                    <img src="img/icon-calendar.png" alt="calendar-icon">
                                    <p>September 28</p>
                                </div>
                                <!-- /.calendar-caption -->
                                <strong>Case Club Meeting</strong>
                            </div>
                            <!-- /.calendar-item -->
                        </div>
                        <!-- /.calendar-block -->
                        <div class="calendar-button">
                            <button class="btn main-btn">See All Calendar Events</button>
                        </div>
                        <!-- /.main-btn -->
                    </div>
                    <!-- /.block-title -->
                </div>
            </div>
            <!-- /.first-state -->
            <div class="two-state">
                <div class="double-block">
                    <div class="block-swiper block-title grid-item grid-item--width3" style="background:#00bacd;">
                        <div class="slider-caption">
                            <h3>Great Schools Become<br>
                                a Source of Great Power</h3>
                        </div>
                        <!-- /.slider-caption -->
                        <div class="slider-wrap">
                            <div class="swiper-container profesor-info">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide profesor-item">
                                        <div class="photo-slider">
                                            <img src="img/slider-person1.png" alt="image">
                                        </div>
                                        <!-- /.photo-profesor -->
                                        <strong>Roger Myerson</strong>
                                        <p>Nobel Laureate, member <br>of KSE International <br> Advisoty Board</p>
                                    </div>
                                    <!-- /.swiper-slide -->
                                    <div class="swiper-slide profesor-item">
                                        <div class="photo-slider">
                                            <img src="img/slider-person1.png" alt="image">
                                        </div>
                                        <!-- /.photo-profesor -->
                                        <strong>Roger Myerson</strong>
                                        <p>Nobel Laureate, member <br>of KSE International <br> Advisoty Board</p>
                                    </div>
                                    <!-- /.swiper-slide -->
                                    <div class="swiper-slide profesor-item">
                                        <div class="photo-slider">
                                            <img src="img/slider-person1.png" alt="image">
                                        </div>
                                        <!-- /.photo-profesor -->
                                        <strong>Roger Myerson</strong>
                                        <p>Nobel Laureate, member <br> of KSE International <br> Advisoty Board</p>
                                    </div>
                                    <!-- /.swiper-slide -->
                                </div>
                                <!-- /.swiper-wrapper -->
                                <div class="swiper-pagination"></div>
                            </div>
                            <!-- /.swiper-container -->

                        </div>
                        <!-- /.slider-wrap -->
                    </div>
                    <!-- /.block-swiper -->
                    <div class="two-block">
                    <div class="news-block grid-item">
                        <span>News</span>
                        <h4>KSE Research on Reforms Cited<br>
                            in Financial <br>Times</h4>
                        <div class="btn-read-more">
                            Read More
                            <button class="btn link-btn">
                            </button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.btn-read-more -->
                    </div>
                    <!-- /.news-block -->
                        <div class="block-info grid-item grid-item--width2" style="background:#f1e935;">
                            <div class="info">
                                <h3>MA Program Enrollment Opened</h3>
                                <div class="btn-read-more">
                                    Read More
                                    <button class="btn link-btn">
                                    </button>
                                    <!-- /.btn btn-links -->
                                </div>
                            </div>
                            <!-- /.info -->
                        </div>
                    <!-- /.block-info -->
                    </div>
                    <!-- /.double-block -->
                </div>
                <!-- /.double-block -->
                <div class="block-photo-caption indent-left grid-item grid-item--height2">
                    <div class="wrapper-photo">
                        <img src="img/person-block.png" alt="image">
                    </div>
                    <!-- /.wrapper-photo -->
                    <div class="info">
                        <h4>It is Hard to Choose
                            the Right Change Option Without the Understanding of Values
                        </h4>
                        <p>
                            Talk with Serhiy Potapov, Adjunct Assistant Professor at MBA program, Consultant in the
                            Ministry
                            of Economy of Ukraine
                        </p>
                    </div>
                    <!-- /.info -->
                </div>
            </div>
            <!-- /.two-state -->
            <div class="three-state">
                <div class="block-info grid-item grid-item--width2"
                     style="background:url(img/UEW3.png); color:#ffffff;">
                    <div class="info">
                        <h3>KSE BrainChamp</h3>
                        <div class="btn-read-more">
                            Read More
                            <button class="btn link-btn">
                            </button>
                            <!-- /.btn btn-links -->
                        </div>
                    </div>
                    <!-- /.info -->
                </div>
                <div class="block-info grid-item grid-item--width2" style="background:#a6c438;">
                    <div class="info">
                        <h3>Journal Of Economics Issue #1 Released</h3>
                        <div class="btn-read-more">
                            Read More
                            <button class="btn link-btn">
                            </button>
                            <!-- /.btn btn-links -->
                        </div>
                    </div>
                    <!-- /.info -->
                </div>
            </div>
            <!-- /.three-state -->
            <div class="partners-block">
                <strong>Strategic Partners</strong>
                <div class="partner-items">
                    <a href="#"><img src="img/partners-item1.png" alt="image"></a>
                    <a href="#"><img src="img/partners-item2.png" alt="image"></a>
                    <a href="#"><img src="img/partners-item3.png" alt="image"></a>
                    <a href="#"><img src="img/partners-item4.png" alt="image"></a>
                    <a href="#"><img src="img/partners-item5.png" alt="image"></a>
                    <a href="#"><img src="img/partners-item6.png" alt="kyivstar"></a>
                </div>
                <!-- /.partner-items -->
            </div>
            <!-- /.partners-block -->
        </div>
        <!-- /.homepage-wrap -->
    </div>
    <!-- /.container -->
</div>
<!-- /.homepage-content -->
    //= _partial/_footer.html
//= _partial/_page-bottom.html