//= _partial/_head.html
<div class="initiative-section header-page" style="background-color:#f05a42;">
    //= _partial/_header-blue.html
    <div class="container">
        <!-- /.container -->
        <div class="header-caption">
            <h1>
                Centre for Excellence in Economic Journalism
            </h1>
            <button class="btn"><img src="img/icon-global.svg" alt="image">Visit Our Website</button>
            <!-- /.btn -->
        </div>
    </div>
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="initiative-wrap">
            <div class="initiative-block">
                <div class="block-title">
                    <div class="block-caption">
                        <strong>Description</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a neque et ipsum tristique
                            scelerisque. Suspendisse et justo sed velit maximus euismod eu at dolor. Ut eget metus
                            blandit, sodales arcu quis, varius nulla. Nunc justo nisl, tristique in congue eu, mollis a
                            massa. Integer eu placerat est. Phasellus ac diam a orci convallis interdum sodales vel
                            magna. Mauris faucibus nunc at elit imperdiet lobortis. Nunc bibendum sem eu mauris
                            porttitor, ut vehicula augue aliquet. Orci varius natoque penatibus et magnis dis parturient
                            montes, nascetur ridiculus mus.Fusce quis elementum elit. Sed a pharetra lacus. Nam ac
                            pellentesque leo, eu lacinia est. Phasellus justo purus, egestas eget dapibus id,
                            sollicitudin vitae ipsum. Vivamus tortor purus, cursus eget tempor sed, suscipit sit amet
                            massa. Pellentesque libero magna, pellentesque vitae laoreet vitae, posuere id orci. Ut eget
                            metus blandit, sodales arcu quis, varius nulla. Nunc justo nisl, tristique in congue eu,
                            mollis a massa. Integer eu placerat est. Phasellus ac diam a orci convallis interdum sodales
                            vel magna. Mauris faucibus nunc at elit imperdiet lobortis.</p>
                    </div>
                    <!-- /.block-caption -->
                </div>
                <!-- /.block-title -->
                <div class="block-title">
                    <div class="block-caption underline">
                        <strong>Projects</strong>
                        <span>Statistics and econometrics within Ukrainian society</span>
                        <span>Economical analytics and prognosing in structural analysis</span>
                        <span>Social graphs in social media</span>
                    </div>
                    <!-- /.block-caption -->
                </div>
                <!-- /.block-title -->

                <div class="block-title" style="position: relative;">
                    <div class="block-caption">
                        <strong>Internal Board of Directors</strong>
                        <div class="scroll-link" data-simplebar>
                        <div class="links-item">
                                <div class="personal-item">
                                    <div class="personal-image">
                                        <img src="img/personal-item1.png" alt="image">
                                    </div>
                                    <!-- /.personal-image -->
                                    <div class="personal-caption">
                                        <span>Andriy Bulakh</span>
                                        <p>Vice President</p>
                                    </div>
                                    <!-- /.personal-caption -->
                                </div>
                            <!-- /.link-title -->
                            <p>PhD, University of California, Berkeley</p>
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.links-item -->
                        <div class="links-item">
                                <div class="personal-item">
                                    <div class="personal-image">
                                        <img src="img/personal-item2.png" alt="image">
                                    </div>
                                    <!-- /.personal-image -->
                                    <div class="personal-caption">
                                        <span>Mariya Vasylyeva</span>
                                        <p>Vice President</p>
                                    </div>
                                    <!-- /.personal-caption -->
                            </div>
                            <!-- /.link-title -->
                            <p>PhD, University of California, Berkeley</p>
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.links-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <div class="personal-item">
                                    <div class="personal-image">
                                        <img src="img/personal-item1.png" alt="image">
                                    </div>
                                    <!-- /.personal-image -->
                                    <div class="personal-caption">
                                        <span>Andriy Bulakh</span>
                                        <p>Vice President</p>
                                    </div>
                                    <!-- /.personal-caption -->
                                </div>
                            </div>
                            <!-- /.link-title -->
                            <p>PhD, University of California, Berkeley</p>
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.links-item -->
                        <div class="links-item">
                            <div class="personal-item">
                                <div class="personal-image">
                                    <img src="img/personal-item2.png" alt="image">
                                </div>
                                <!-- /.personal-image -->
                                <div class="personal-caption">
                                    <span>Mariya Vasylyeva</span>
                                    <p>Vice President</p>
                                </div>
                                <!-- /.personal-caption -->
                            </div>
                            <!-- /.link-title -->
                            <p>PhD, University of California, Berkeley</p>
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.links-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <div class="personal-item">
                                    <div class="personal-image">
                                        <img src="img/personal-item1.png" alt="image">
                                    </div>
                                    <!-- /.personal-image -->
                                    <div class="personal-caption">
                                        <span>Andriy Bulakh</span>
                                        <p>Vice President</p>
                                    </div>
                                    <!-- /.personal-caption -->
                                </div>
                            </div>
                            <!-- /.link-title -->
                            <p>PhD, University of California, Berkeley</p>
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.links-item -->
                        <div class="links-item">
                            <div class="personal-item">
                                <div class="personal-image">
                                    <img src="img/personal-item2.png" alt="image">
                                </div>
                                <!-- /.personal-image -->
                                <div class="personal-caption">
                                    <span>Mariya Vasylyeva</span>
                                    <p>Vice President</p>
                                </div>
                                <!-- /.personal-caption -->
                            </div>
                            <!-- /.link-title -->
                            <p>PhD, University of California, Berkeley</p>
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.links-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <div class="personal-item">
                                    <div class="personal-image">
                                        <img src="img/personal-item1.png" alt="image">
                                    </div>
                                    <!-- /.personal-image -->
                                    <div class="personal-caption">
                                        <span>Andriy Bulakh</span>
                                        <p>Vice President</p>
                                    </div>
                                    <!-- /.personal-caption -->
                                </div>
                            </div>
                            <!-- /.link-title -->
                            <p>PhD, University of California, Berkeley</p>
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.links-item -->
                        </div>
                        <!-- /.scroll-link -->
                    </div>
                    <!-- /.block-caption -->
                </div>
                <!-- /.block-title -->
            </div>
            <!-- /.faculty-block -->
            <div class="block-personal">
                <strong>Contact</strong>
                <div class="personal-item">
                    <div class="personal-image">
                        <img src="img/personal-item1.png" alt="image">
                    </div>
                    <!-- /.personal-image -->
                    <div class="personal-caption">
                        <span>Andriy Bulakh</span>
                        <p>Vice President</p>
                    </div>
                    <!-- /.personal-caption -->
                </div>
                <!-- /.personal-item -->
                <div class="personal-item border">
                    <div class="personal-image">
                        <img src="img/personal-item2.png" alt="image">
                    </div>
                    <!-- /.personal-image -->
                    <div class="personal-caption">
                        <span>Mariya Vasylyeva</span>
                        <p>Vice President</p>
                    </div>
                    <!-- /.personal-caption -->

                </div>
                <!-- /.personal-item -->
                <div class="social-link">
                    <div class="block-social">
                        <a href="#"><img src="img/icon-facebook.svg" alt="image"></a>
                        <a href="#"><img src="img/icon-telegram.svg" alt="image"></a>
                        <a href="#"><img src="img/icon-social.svg" alt="image"></a>
                    </div>
                    <!-- /.block-social -->
                    <p>+38 044 202 20 20
                        hello@ceej.kse.org.ua</p>
                </div>
                <!-- /.social-link -->
            </div>
            <!-- /.block-personal -->

    </div>
    <!-- /.container -->
</div>
<!-- /.faculty-content -->
</div>

    //= _partial/_footer.html


//= _partial/_page-bottom.html