//= _partial/_head.html
<div class="newspage-section header-page block-eclipse" style="background-image: url(img/bg-newspage.png)">
    //= _partial/_header.html

</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="newspage-wrap">
            <div class="block-title">
                <div class="newspage-caption">
                    <h3>KSE Research on Reforms Cited on Financial Times</h3>
                    <p><img src="img/Time.png" alt="image">March 4, 2017</p>
                </div>
                <!-- /.newspage-caption -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum.
                    Donec sit amet elit vitae dui mattis tincidunt id eu ante. Suspendisse rutrum arcu vel gravida
                    hendrerit. Nulla a diam tristique, tincidunt nulla quis, eleifend metus. Nam mattis dignissim
                    tortor, a auctor tortor accumsan ac. Sed blandit ornare nibh id consequat. Vivamus finibus metus ut
                    nunc ultrices, vitae commodo eros luctus. Nulla a diam tristique, tincidunt nulla quis, eleifend
                    metus. Nam mattis dignissim tortor, a auctor tortor accumsan ac.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum.
                    Donec sit amet elit vitae dui mattis tincidunt id eu ante. Suspendisse rutrum arcu vel gravida
                    hendrerit. Nulla a diam tristique, tincidunt nulla quis, eleifend metus. Nam mattis dignissim
                    tortor, a auctor tortor accumsan ac. Sed blandit ornare nibh id consequat. Vivamus finibus metus ut
                    nunc ultrices, vitae commodo eros luctus. Nulla a diam tristique, tincidunt nulla quis, eleifend
                    metus. Nam mattis dignissim tortor, a auctor tortor accumsan ac.</p>
                <p>Sed blandit ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae commodo eros
                    luctus.Sed blandit ornare nibh id consequat. Nulla a diam tristique, tincidunt nulla quis, eleifend
                    metus. Nam mattis dignissim tortor, a auctor tortor accumsan ac. Sed blandit ornare nibh id
                    consequat. Vivamus finibus metus ut nunc ultrices, vitae commodo eros luctus.Sed blandit ornare nibh
                    id consequat. Vivamus finibus metus ut nunc ultrices, vitae commodo.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum.
                    Donec sit amet elit vitae dui mattis tincidunt id eu ante. Suspendisse rutrum arcu vel gravida
                    hendrerit. Nulla a diam tristique, tincidunt nulla quis, eleifend metus. Nam mattis dignissim
                    tortor, a auctor tortor accumsan ac. Sed blandit ornare nibh id consequat. Vivamus finibus metus ut
                    nunc ultrices, vitae commodo eros luctus. Nulla a diam tristique, tincidunt nulla quis, eleifend
                    metus. Nam mattis dignissim tortor, a auctor tortor accumsan ac.</p>
            </div>
            <!-- /.block-title -->
            <div class="block-photo-caption indent-left grid-item grid-item--height2">

                <div class="wrapper-photo">
                    <img src="img/person-block.png" alt="image">
                </div>
                <!-- /.wrapper-photo -->
                <div class="info">
                    <h4>It is Hard to Choose<br>
                        the Right Change Option Without the Understanding of Values
                    </h4>
                    <p>
                        Talk with Serhiy Potapov, Adjunct Assistant Professor at MBA program, Consultant in the Ministry
                        of Economy of Ukraine
                    </p>
                </div>
                <!-- /.info -->
            </div>
        </div>
        <!-- /.newspage-wrap -->
    </div>
    <!-- /.container -->
</div>
<!-- /.newspage-content -->

    //= _partial/_footer.html


//= _partial/_page-bottom.html