//= _partial/_head.html
<div class="program-profile-section header-page" style="background-color:#f1e935;">
    //= _partial/_header-blue.html
    <div class="container">
        <div class="header-caption">
            <h1>
                MA in Economic Analysis
            </h1>
        </div>
        <!-- /.main-header -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="program-profile-wrap">
            <div class="content-block">
                <div class="content-wrap">
                    <div class="block-title">
                        <div class="block-caption" style="border-bottom:1px solid #dbdbdb">
                            <strong>Description</strong>
                            <p>MBA at Kyiv School of Economics is an 18-month intensive English only program. It is
                                designed for self-made and ambitious doers working in a wide range of industries, with a
                                background in corporate, private business and NGOs. Our program demands effort,
                                diligence and passion. It is not about cheap talk. MBA at Kyiv School of Economics
                                provides systematic knowledge of business management, gives the most needed professional
                                skills and increases your competence. We educate professionals who can make an
                                impact.</p>
                        </div>
                        <!-- /.block-caption -->
                        <div class="description-price">
                            <div class="description-item">
                                <strong>Duration</strong>
                                <p><strong>18</strong> month</p>
                            </div>
                            <!-- /.description-item -->
                            <div class="description-item">
                                <strong>Starts</strong>
                                <p><strong>09.01.2017</strong></p>
                            </div>
                            <!-- /.description-item -->
                            <div class="description-item">
                                <strong>Courses</strong>
                                <p><strong>13</strong> courses</p>
                            </div>
                            <!-- /.description-item -->
                            <div class="description-item">
                                <strong>Format</strong>
                                <p>Full-time</p>
                            </div>
                            <!-- /.description-item -->
                            <div class="description-item">
                                <strong>Degree</strong>
                                <p>University of Houston
                                    <span>MA in Applied Economics</span></p>
                            </div>
                            <!-- /.description-item -->
                            <div class="description-item">
                                <strong>Price</strong>
                                <p><strong>$ 9000</strong></p>
                            </div>
                            <!-- /.description-item -->
                            <div class="description-item">
                                <strong>Language</strong>
                                <p>English</p>
                            </div>
                            <!-- /.description-item -->
                        </div>
                        <!-- /.description-price -->
                    </div>
                    <!-- /.block-title -->
                    <div class="block-caption block-title">
                        <strong>Courses</strong>
                        <div class="program-links">
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Economics</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Marketing</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Quantitative Methods</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Organizational Behavior</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Financial & Managerial Accounting</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Corporate Finance</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Operations Management</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Strategic Management</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        </div>
                        <!-- /.program-links -->
                        <strong>Elective Courses</strong>
                        <div class="courses-links">

                            <div class="courses-item">
                                <span><a href="#" class="dot-border">Negotiation</a></span>
                                <span><a href="#" class="dot-border">Negotiation</a></span>
                                <span><a href="#" class="dot-border">Information Management & IT</a></span>
                                <span><a href="#" class="dot-border">Human Resources Management</a></span>
                                <span> <a href="#" class="dot-border">Risk Management</a></span>
                            </div>
                            <!-- /.courses-item -->
                            <div class="courses-item">
                                <span><a href="#" class="dot-border">Strategic Marketing</a></span>
                                <span><a href="#" class="dot-border">Business Law</a></span>
                                <span><a href="#" class="dot-border">Business Communications</a></span>
                                <span><a href="#" class="dot-border">Behavior Economics</a></span>
                                <span><a href="#" class="dot-border">Capital Markets and M&A</a></span>
                            </div>
                            <!-- /.courses-item -->
                        </div>
                        <!-- /.courses-links -->
                    </div>
                    <!-- /.block-title -->
                    <div class="block-title block-caption" >
                        <strong>Faculty</strong>
                    <div class="scroll-link" data-simplebar>
                        <div class="links-item">
                            <div class="personal-item">
                                <div class="personal-image">
                                    <img src="img/personal-item1.png" alt="image">
                                </div>
                                <!-- /.personal-image -->
                                <div class="personal-caption">
                                    <span>Andriy Bulakh</span>
                                    <p>Vice President</p>
                                </div>
                                <!-- /.personal-caption -->
                            </div>
                            <!-- /.link-title -->
                            <p>PhD, University of California, Berkeley</p>
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.links-item -->
                        <div class="links-item">
                            <div class="personal-item">
                                <div class="personal-image">
                                    <img src="img/personal-item2.png" alt="image">
                                </div>
                                <!-- /.personal-image -->
                                <div class="personal-caption">
                                    <span>Mariya Vasylyeva</span>
                                    <p>Vice President</p>
                                </div>
                                <!-- /.personal-caption -->
                            </div>
                            <!-- /.link-title -->
                            <p>PhD, University of California, Berkeley</p>
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.links-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <div class="personal-item">
                                    <div class="personal-image">
                                        <img src="img/personal-item1.png" alt="image">
                                    </div>
                                    <!-- /.personal-image -->
                                    <div class="personal-caption">
                                        <span>Andriy Bulakh</span>
                                        <p>Vice President</p>
                                    </div>
                                    <!-- /.personal-caption -->
                                </div>
                            </div>
                            <!-- /.link-title -->
                            <p>PhD, University of California, Berkeley</p>
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.links-item -->
                        <div class="links-item">
                            <div class="personal-item">
                                <div class="personal-image">
                                    <img src="img/personal-item2.png" alt="image">
                                </div>
                                <!-- /.personal-image -->
                                <div class="personal-caption">
                                    <span>Mariya Vasylyeva</span>
                                    <p>Vice President</p>
                                </div>
                                <!-- /.personal-caption -->
                            </div>
                            <!-- /.link-title -->
                            <p>PhD, University of California, Berkeley</p>
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.links-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <div class="personal-item">
                                    <div class="personal-image">
                                        <img src="img/personal-item1.png" alt="image">
                                    </div>
                                    <!-- /.personal-image -->
                                    <div class="personal-caption">
                                        <span>Andriy Bulakh</span>
                                        <p>Vice President</p>
                                    </div>
                                    <!-- /.personal-caption -->
                                </div>
                            </div>
                            <!-- /.link-title -->
                            <p>PhD, University of California, Berkeley</p>
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.links-item -->
                        <div class="links-item">
                            <div class="personal-item">
                                <div class="personal-image">
                                    <img src="img/personal-item2.png" alt="image">
                                </div>
                                <!-- /.personal-image -->
                                <div class="personal-caption">
                                    <span>Mariya Vasylyeva</span>
                                    <p>Vice President</p>
                                </div>
                                <!-- /.personal-caption -->
                            </div>
                            <!-- /.link-title -->
                            <p>PhD, University of California, Berkeley</p>
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.links-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <div class="personal-item">
                                    <div class="personal-image">
                                        <img src="img/personal-item1.png" alt="image">
                                    </div>
                                    <!-- /.personal-image -->
                                    <div class="personal-caption">
                                        <span>Andriy Bulakh</span>
                                        <p>Vice President</p>
                                    </div>
                                    <!-- /.personal-caption -->
                                </div>
                            </div>
                            <!-- /.link-title -->
                            <p>PhD, University of California, Berkeley</p>
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.links-item -->
                    </div>
                    <!-- /.scroll-link -->
                    </div>
                    <!-- /.block-title -->
                    <div class="block-caption block-title">
                        <strong>Admission Timeline</strong>
                        <div class="time-line">
                           <div class="time-line-item">
                               <span>JAN 10</span>
                               <div class="line"></div>
                               <strong>Admission is open</strong>
                               <!-- /.line -->
                           </div>
                           <!-- /.time-line-item -->
                            <div class="time-line-item">
                                <span>APR 30</span>
                                <div class="line"></div>
                                <strong>Deadline to get 10% tuition discount</strong>
                                <!-- /.line -->
                            </div>
                            <!-- /.time-line-item -->
                            <div class="time-line-item">
                                <span>AUG 10</span>
                                <div class="line dotted"></div>
                                <strong>Admission deadline</strong>
                                <!-- /.line -->
                            </div>
                            <!-- /.time-line-item -->
                        </div>
                        <!-- /.timeline -->
                    </div>
                    <!-- /.block-caption -->
                    <div class="block-caption block-title tuition-block">
                        <strong>Tuition</strong>
                        <p>The tuition fee paid by a student is €3,000 per year*. Payments are done in five instalments
                        during the academic year. Students who would also wish to receive the <a href="#" class="dot-border">University of Houston</a> MA
                        Degree in Applied Economics upon their graduation from the Program will also need to cover the
                        UH fee for this degree – €1500.

                       <span>* The full cost of providing education at the KSE MA Program in Business and Financial Economics
                        is €10,000 a year, students of the program automatically receive a scholarship in the amount of
                        €7,000 which is funded by the KSE donors.</span> </p>
                    </div>
                    <!-- /.block-caption -->
                    <div class="program-profile-state1">
                    <div class="block-info grid-item" style="background:#f05a42; text-align: center; font-weight:700;">
                        <h4>Information on Scholarships</h4>
                    </div>
                    <!-- /.block-links -->
                        <div class="block-info grid-item grid-item--width2 indent-left" >
                           <div class="wrapper-photo">
                               <img src="img/program-profile-photo.png" alt="image">
                           </div>
                           <!-- /.wrapper-photo -->
                            <div class="info">
                                <h4>School Gave Me the Professional Education and Good Network of Contacts</h4>
                                <p>Interview with Dmytro Sologub, Deputy Governor at the National Bank of Ukraine</p>
                            </div>
                            <!-- /.info -->
                        </div>
                        <!-- /.block-info -->
                    </div>
                    <!-- /.program-profile-state1 -->
                </div>
                <!-- /.content-wrap -->

            </div>
            <!-- /.content-block -->
            <div class="block-personal">
                <strong>Admission Information</strong>
                    <div class="block-caption underline">
                        <span>How to Apply</span>
                        <span>Application Checklist</span>
                        <span>Preparatory Tools</span>
                        <span>Scholarship Information</span>
                    </div>
                    <!-- /.block-caption -->
                <button class="btn main-btn">Apply Now</button>
                <button class="btn main-btn alternate-btn" style="background:transparent;">Request a Call</button>
                <!-- /.btn main-btn -->
            </div>
            <!-- /.block-personal -->
        </div>
        <!-- /.research-wrap -->
    </div>
    <!-- /.container -->
</div>
<!-- /.research-content -->
    //= _partial/_footer.html


//= _partial/_page-bottom.html