//= _partial/_head.html
<div class="research-section header-page" style="background-color:#00bacd;">
    //= _partial/_header-blue.html
    <div class="container">
        <div class="header-caption">
            <h1>
                Research
            </h1>
            <p>Dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae dictum. Donec sit amet
                elit vitae dui mattis tincidunt id eu ante. Suspendisse rutrum arcu vel gravida hendrerit. Consectetur
                adipiscing elit. Proin suscipit ultricies nibh vitae dictum.</p>
        </div>
        <!-- /.main-header -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="research-wrap">
            <div class="content-block">
                <div class="block-title">
                    <h3>Academic Research</h3>
                    <ul class="tabs1">
                        <li class="tab-link current" data-tab="tab-1">Latest Articles</li>
                        <li class="tab-link" data-tab="tab-1">Projects</li>
                    </ul>
                    <div id ="tab-1" class="tab-content1">
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Investment in human capital in post-Soviet countries: Why are firms not training
                                    more?</strong>
                                <p>Kupets O.</p>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>On strategic complementarities in discontinuous games</strong>
                                <p>Prokopovych P. Yannelis N.C.</p>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Health Expenditures and Global Inequalities in Longevity</strong>
                                <p>Obrizan M. Wehby G.L.</p>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.block-title -->
                <div class="block-title">
                    <h3>Policy Research</h3>
                    <ul class="tabs2">
                        <li class="tab-link current" data-tab="tab-2">Latest Articles</li>
                        <li class="tab-link" data-tab="tab-2">Projects</li>
                    </ul>
                    <div id ="tab-2" class="tab-content2">
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Social Exclusion of Youth in Europe: Cumulative Disadvantage, Coping Strategies,
                                    Effective Policies and Transfer</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                        <div class="links-item">
                            <div class="link-title">
                                <strong>Support for reforms in agriculture and land relations in Ukraine</strong>
                            </div>
                            <!-- /.link-title -->
                            <button class="btn link-btn"></button>
                            <!-- /.btn btn-links -->
                        </div>
                        <!-- /.link-item -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.block-title -->
            </div>
            <!-- /.content-block -->
            <div class="block-info indent-left grid-item" style="background:#a6c438;">
                <h4>Consulting Services at Kyiv School
                    of Economics</h4>
            </div>
            <!-- /.block-links -->
        </div>
        <!-- /.research-wrap -->
    </div>
    <!-- /.container -->
</div>
<!-- /.research-content -->



    //= _partial/_footer.html


//= _partial/_page-bottom.html