//= _partial/_head.html
<div class="story-page-section header-page" style="background-color:#a6c438">
    //= _partial/_header-blue.html
    <div class="container">
        <div class="header-caption">
            <h1>
                National Bank’s Policy<br>
                Should be Based on Research
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit suscipit ultricies nibh vitae dictum. Donec sit
                amet elit vitae dui mattis tincidunt id eu ante. Suspendisse rutrum arcu vel gravida hendrerit.</p>
            <button class="btn story-page-btn"><img src="img/icon-facebook.svg" alt="image">Share on Facebook</button>
            <button class="btn story-page-btn"><img src="img/icon-twiter.svg" alt="image">Share on Twitter</button>
        </div>
        <!-- /.main-header -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="story-page-wrap">
            <div class="content-block">
                <div class="content-wrap">
                    <div class="block-title">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh
                            vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante. Suspendisse
                            rutrum arcu vel gravida hendrerit. Nulla a diam tristique, tincidunt nulla quis,
                            eleifend metus. Nam mattis dignissim tortor, a auctor tortor accumsan ac. Sed blandit
                            ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae commodo eros
                            luctus. Nulla a diam tristique, tincidunt nulla quis, eleifend metus. Nam mattis
                            dignissim tortor, a auctor tortor accumsan ac.
                        </p>
                        <p>
                            Sed blandit ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae
                            commodo eros luctus.Sed blandit ornare nibh id consequat. Nulla a diam tristique,
                            tincidunt nulla quis, eleifend metus. Nam mattis dignissim tortor, a auctor tortor
                            accumsan ac. Sed blandit ornare nibh id consequat. Vivamus finibus metus ut nunc
                            ultrices, vitae commodo eros luctus.Sed blandit ornare nibh id consequat. Vivamus
                            finibus metus ut nunc ultrices, vitae commodo.</p>
                        <img src="img/story-page-photo.png" alt="image">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh vitae
                            dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante. Suspendisse rutrum arcu
                            vel gravida hendrerit. Nulla a diam tristique, tincidunt nulla quis, eleifend metus. Nam
                            mattis dignissim tortor, a auctor tortor accumsan ac. Sed blandit ornare nibh id consequat.
                            Vivamus finibus metus ut nunc ultrices, vitae commodo eros luctus. Nulla a diam tristique,
                            tincidunt nulla quis, eleifend metus. Nam mattis dignissim tortor, a auctor tortor accumsan
                            ac.
                        </p>
                        <p> Sed blandit ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae commodo
                            eros luctus.Sed blandit ornare nibh id consequat. Nulla a diam tristique, tincidunt nulla
                            quis, eleifend metus. Nam mattis dignissim tortor, a auctor tortor accumsan ac. Sed blandit
                            ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae commodo eros
                            luctus.Sed blandit ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae
                            commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies
                            nibh vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante. Suspendisse
                            rutrum arcu vel gravida hendrerit. Nulla a diam tristique, tincidunt nulla quis, eleifend
                            metus.
                        </p>
                        <p> Ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae commodo eros
                            luctus.Sed blandit ornare nibh id consequat. Nulla a diam tristique, tincidunt nulla quis,
                            eleifend metus. Nam mattis dignissim tortor, a auctor tortor accumsan ac. Sed blandit ornare
                            nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae commodo eros luctus.Sed
                            blandit ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae commodo.
                        </p>
                        <!--<video style="width: 100%;height: 380px;">-->
                            <!--<sourse src="https://www.youtube.com/watch?v=6_AeMmTE2pc">-->
                            <!--</sourse>-->
                        <!--</video>-->

                        <iframe width="420" height="315"
                                src="https://www.youtube.com/watch?v=6_AeMmTE2pc">
                        </iframe>
                        <p>Sed blandit ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae commodo
                            eros luctus.Sed blandit ornare nibh id consequat. Nulla a diam tristique, tincidunt nulla
                            quis, eleifend metus. Nam mattis dignissim tortor, a auctor tortor accumsan ac. Sed blandit
                            ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae commodo eros
                            luctus.Sed blandit ornare nibh id consequat. Vivamus finibus metus ut nunc ultrices, vitae
                            commodo.</p>
                    </div>
                    <!-- /.block-title -->
                </div>
                <!-- /.content-wrap -->
            </div>
            <!-- /.content-block -->
            <div class="extreme-block">
                <div class="block-personal">
                    <strong>Author</strong>
                    <div class="personal-item">
                        <div class="personal-image">
                            <img src="img/personal-item1.png" alt="image">
                        </div>
                        <!-- /.personal-image -->
                        <div class="personal-caption">
                            <span>Andriy Bulakh</span>
                            <p>Vice President</p>
                        </div>
                        <!-- /.personal-caption -->
                    </div>
                </div>
                <!-- /.block-links -->
                <div class="block-photo-caption  indent-left grid-item grid-item--height2">
                   <div class="wrapper-photo">
                       <img src="img/person-block.png" alt="image">
                   </div>
                   <!-- /.wrapper-photo -->
                    <div class="info">
                    <h4>It is Hard to Choose<br>
                        the Right Change Option Without the Understanding of Values
                    </h4>
                    <p>
                        Talk with Serhiy Potapov, Adjunct Assistant Professor at MBA program, Consultant in the Ministry of Economy of Ukraine
                    </p>
                   </div>
                    <!-- /.info -->
                </div>
            </div>
            <!-- /.research-wrap -->
            </div>



    </div>
    <!-- /.container -->
</div>
<!-- /.research-content -->
    //= _partial/_footer.html
//= _partial/_page-bottom.html