//= _partial/_head.html
<div class="study-kse-section header-page" style="background-color: #00bacd">
    //= _partial/_header-blue.html
    <div class="container">
        <div class="header-caption">
            <h1>
                Study at Kyiv School of Economicsy
            </h1>
        </div>
        <!-- /.main-header -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-page -->
<div class="page-content">
    <div class="container">
        <div class="study-kse-wrap">
            <div class="block-title grid-item--width4">
                <ul class="tabs3">
                    <li class="tab-link current" data-tab="tab-3">All Programs</li>
                    <li class="tab-link" data-tab="tab-3">Business</li>
                    <li class="tab-link" data-tab="tab-3">Economics</li>
                    <li class="tab-link" data-tab="tab-3">Public Affairs</li>
                </ul>
                <div id ="tab-3" class="tab-content3">
                    <div class="choose-form">
                        <form class="form-search">
                            <div class="sorting">
                                <span>Specialty:</span>
                                <select>
                                    <option value="">All Specialties</option>
                                    <option value="">Name</option>
                                    <option value="">Name</option>
                                </select>
                            </div>
                            <!-- /.sorting -->
                            <div class="checking">
                                <span>Show only:</span>
                                <form>
                                    <div class="check">
                                        <input type="checkbox">
                                        <label for="#">Degree programs</label>
                                    </div>
                                    <!-- /.check -->
                                    <div class="check">
                                        <input type="checkbox">
                                        <label for="#">Part-time</label>
                                    </div>
                                    <!-- /.check -->
                                    <div class="check">
                                        <input type="checkbox">
                                        <label for="#">Scholarship</label>
                                    </div>
                                    <!-- /.check -->
                                </form>
                            </div>
                            <!-- /.checking -->
                        </form>
                        <form class="form-sort">
                            <div class="duration">
                                <span>Duration:</span>
                                <div class="date-slider" id="slider-date"></div>
                            </div>
                            <!-- /.duration -->
                            <div class="sorting">
                                <span>Sort by:</span>
                                <select>
                                    <option value="">Name</option>
                                    <option value="">Name</option>
                                    <option value="">Name</option>
                                </select>
                                <!-- /# -->
                                <a href="#"><img src="img/icon-sort.svg" alt="sort"></a>
                            </div>
                            <!-- /.sorting -->
                        </form>
                    </div>
                    <!-- /.form-search -->
                </div>
            </div>
            <!-- /.block-title -->
            <div class="block-cards">
                <div class="left-block">
                    <div class="block-info grid-item grid-item--width2">
                        <div class="card-title">
                            <div class="info-card description-price">
                                <h4>Master’s Program in Business and Financial Economics</h4>
                                <div class="descriptions-items">
                                    <div class="description-item">
                                        <strong>Duration</strong>
                                        <p><strong>12 </strong>months</p>
                                    </div>
                                    <!-- /.duration -->
                                    <div class="description-item">
                                        <strong>Price</strong>
                                        <p><strong>$ 2000</strong></p>
                                    </div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.descriptions-items -->
                            </div>
                            <!-- /.info-card -->
                            <div class="card-caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh
                                    vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                            </div>
                            <!-- /.card-caption -->
                        </div>
                        <!-- /.card-title -->

                    </div>
                    <div class="block-info grid-item grid-item--width2">
                        <div class="card-title">
                            <div class="info-card description-price">
                                <h4>Master’s Program in Economic Analysis</h4>
                                <div class="descriptions-items">
                                    <div class="description-item">
                                        <strong>Duration</strong>
                                        <p><strong>12 </strong>months</p>
                                    </div>
                                    <!-- /.duration -->
                                    <div class="description-item">
                                        <strong>Price</strong>
                                        <p><strong>$ 2000</strong></p>
                                    </div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.descriptions-items -->
                            </div>
                            <!-- /.info-card -->
                            <div class="card-caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh
                                    vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                            </div>
                            <!-- /.card-caption -->
                        </div>
                        <!-- /.card-title -->

                    </div>
                    <div class="block-info grid-item grid-item--width2">
                        <div class="card-title">
                            <div class="info-card description-price">
                                <h4>MBA Program</h4>
                                <div class="descriptions-items">
                                    <div class="description-item">
                                        <strong>Duration</strong>
                                        <p><strong>12 </strong>months</p>
                                    </div>
                                    <!-- /.duration -->
                                    <div class="description-item">
                                        <strong>Price</strong>
                                        <p><strong>$ 2000</strong></p>
                                    </div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.descriptions-items -->
                            </div>
                            <!-- /.info-card -->
                            <div class="card-caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh
                                    vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                            </div>
                            <!-- /.card-caption -->
                        </div>
                        <!-- /.card-title -->

                    </div>
                    <div class="block-info grid-item grid-item--width2">
                        <div class="card-title">
                            <div class="info-card description-price">
                                <h4>Master’s Program in Business and Financial Economics</h4>
                                <div class="descriptions-items">
                                    <div class="description-item">
                                        <strong>Duration</strong>
                                        <p><strong>12 </strong>months</p>
                                    </div>
                                    <!-- /.duration -->
                                    <div class="description-item">
                                        <strong>Price</strong>
                                        <p><strong>$ 2000</strong></p>
                                    </div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.descriptions-items -->
                            </div>
                            <!-- /.info-card -->
                            <div class="card-caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh
                                    vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                            </div>
                            <!-- /.card-caption -->
                        </div>
                        <!-- /.card-title -->

                    </div>
                </div>
                <!-- /.left-block -->
                <div class="block-right">
                    <div class="block-info grid-item grid-item--width2">
                        <div class="card-title">
                            <div class="info-card description-price">
                                <h4>Master’s Program in Business and Financial Economics</h4>
                                <div class="descriptions-items">
                                    <div class="description-item">
                                        <strong>Duration</strong>
                                        <p><strong>12 </strong>months</p>
                                    </div>
                                    <!-- /.duration -->
                                    <div class="description-item">
                                        <strong>Price</strong>
                                        <p><strong>$ 2000</strong></p>
                                    </div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.descriptions-items -->
                            </div>
                            <!-- /.info-card -->
                            <div class="card-caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh
                                    vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                            </div>
                            <!-- /.card-caption -->
                        </div>
                        <!-- /.card-title -->
                </div>
                    <div class="block-info grid-item grid-item--width2">
                        <div class="card-title">
                            <div class="info-card description-price">
                                <h4>Master’s Program in Business and Financial Economics</h4>
                                <div class="descriptions-items">
                                    <div class="description-item">
                                        <strong>Duration</strong>
                                        <p><strong>12 </strong>months</p>
                                    </div>
                                    <!-- /.duration -->
                                    <div class="description-item">
                                        <strong>Price</strong>
                                        <p><strong>$ 2000</strong></p>
                                    </div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.descriptions-items -->
                            </div>
                            <!-- /.info-card -->
                            <div class="card-caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh
                                    vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                            </div>
                            <!-- /.card-caption -->
                        </div>
                        <!-- /.card-title -->

                    </div>
                    <div class="block-info grid-item grid-item--width2">
                        <div class="card-title">
                            <div class="info-card description-price">
                                <h4>Master’s Program in Business and Financial Economics</h4>
                                <div class="descriptions-items">
                                    <div class="description-item">
                                        <strong>Duration</strong>
                                        <p><strong>12 </strong>months</p>
                                    </div>
                                    <!-- /.duration -->
                                    <div class="description-item">
                                        <strong>Price</strong>
                                        <p><strong>$ 2000</strong></p>
                                    </div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.descriptions-items -->
                            </div>
                            <!-- /.info-card -->
                            <div class="card-caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh
                                    vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                            </div>
                            <!-- /.card-caption -->
                        </div>
                        <!-- /.card-title -->

                    </div>
                    <div class="block-info grid-item grid-item--width2">
                        <div class="card-title">
                            <div class="info-card description-price">
                                <h4>Master’s Program in Business and Financial Economics</h4>
                                <div class="descriptions-items">
                                    <div class="description-item">
                                        <strong>Duration</strong>
                                        <p><strong>12 </strong>months</p>
                                    </div>
                                    <!-- /.duration -->
                                    <div class="description-item">
                                        <strong>Price</strong>
                                        <p><strong>$ 2000</strong></p>
                                    </div>
                                    <!-- /.price -->
                                </div>
                                <!-- /.descriptions-items -->
                            </div>
                            <!-- /.info-card -->
                            <div class="card-caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit ultricies nibh
                                    vitae dictum. Donec sit amet elit vitae dui mattis tincidunt id eu ante.</p>
                            </div>
                            <!-- /.card-caption -->
                        </div>
                        <!-- /.card-title -->

                    </div>

                </div>
            <!-- /.block-cards -->
            </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.homepage-content -->
</div>
    //= _partial/_footer.html

//= _partial/_page-bottom.html